<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.mapper.IDjItrnAkpMapper">
    <resultMap id="djItrnAkpQueryMap" type="com.common.pojo.DjItrnAkp">

        <!--  -->
        <result property="batchno" column="BATCHNO"/>
        <!--  -->
        <result property="whCode" column="WH_CODE"/>
        <!--  -->
        <result property="ownerCode" column="OWNER_CODE"/>
        <!--  -->
        <result property="mtlCode" column="MTL_CODE"/>
        <!--  -->
        <result property="ggxh" column="GGXH"/>
        <!--  -->
        <result property="gongw" column="GONGW"/>
        <!--  -->
        <result property="shengcx" column="SHENGCX"/>
        <!--  -->
        <result property="daojCase" column="DAOJ_CASE"/>
        <!--  -->
        <result property="jgsm" column="JGSM"/>
        <!--  -->
        <result property="price" column="PRICE"/>
        <!--  -->
        <result property="type" column="TYPE"/>
        <!--  -->
        <result property="wwcode" column="WWCODE"/>
        <!--  -->
        <result property="jgcs" column="JGCS"/>
        <!--  -->
        <result property="lhcs" column="LHCS"/>
        <!--  -->
        <result property="returnType" column="RETURN_TYPE"/>
        <!--  -->
        <result property="createDate" column="CREATE_DATE"/>
        <!--  -->
        <result property="createBy" column="CREATE_BY"/>
        <!--  -->
        <result property="sharpenTimes" column="SHARPEN_TIMES"/>
        <!--  -->
        <result property="bfCause" column="BF_CAUSE"/>
        <!--  -->
        <result property="bfStatus" column="BF_STATUS"/>
        <!--  -->
        <result property="kanbanCode" column="KANBAN_CODE"/>
        <!--  -->
        <result property="wwOwner" column="WW_OWNER"/>
        <!--  -->
        <result property="maxDjh" column="MAX_DJH"/>
        <!--  -->
        <result property="rfid" column="RFID"/>
        <!--  -->
        <result property="zcCode" column="ZC_CODE"/>
        <!--  -->
        <result property="casecode" column="CASECODE"/>
        <!--  -->
        <result property="cKanbanCode" column="C_KANBAN_CODE"/>
        <!--  -->
        <result property="note" column="NOTE"/>
        <!--  -->
        <result property="wwType" column="WW_TYPE"/>
        <!--  -->
        <result property="qty" column="QTY"/>
    </resultMap>
    <!-- 添加 -->
    <insert id="addDjItrnAkp" parameterType="com.common.pojo.DjItrnAkp">
        INSERT INTO DJ_ITRN_AKP (
            /*  */
            BATCHNO,
            /*  */
            WH_CODE,
            /*  */
            OWNER_CODE,
            /*  */
            MTL_CODE,
            /*  */
            GGXH,
            /*  */
            GONGW,
            /*  */
            SHENGCX,
            /*  */
            DAOJ_CASE,
            /*  */
            JGSM,
            /*  */
            PRICE,
            /*  */
            TYPE,
            /*  */
            WWCODE,
            /*  */
            JGCS,
            /*  */
            LHCS,
            /*  */
            RETURN_TYPE,
            /*  */
            CREATE_DATE,
            /*  */
            CREATE_BY,
            /*  */
            SHARPEN_TIMES,
            /*  */
            BF_CAUSE,
            /*  */
            BF_STATUS,
            /*  */
            KANBAN_CODE,
            /*  */
            WW_OWNER,
            /*  */
            MAX_DJH,
            /*  */
            RFID,
            /*  */
            ZC_CODE,
            /*  */
            CASECODE,
            /*  */
            C_KANBAN_CODE,
            /*  */
            NOTE,
            /*  */
            WW_TYPE,
            /*  */
            QTY
        )
        VALUES (
            /*  */
            #{batchno},
            /*  */
            #{whCode},
            /*  */
            #{ownerCode},
            /*  */
            #{mtlCode},
            /*  */
            #{ggxh},
            /*  */
            #{gongw},
            /*  */
            #{shengcx},
            /*  */
            #{daojCase},
            /*  */
            #{jgsm},
            /*  */
            #{price},
            /*  */
            #{type},
            /*  */
            #{wwcode},
            /*  */
            #{jgcs},
            /*  */
            #{lhcs},
            /*  */
            #{returnType},
            /*  */
            #{createDate},
            /*  */
            #{createBy},
            /*  */
            #{sharpenTimes},
            /*  */
            #{bfCause},
            /*  */
            #{bfStatus},
            /*  */
            #{kanbanCode},
            /*  */
            #{wwOwner},
            /*  */
            #{maxDjh},
            /*  */
            #{rfid},
            /*  */
            #{zcCode},
            /*  */
            #{casecode},
            /*  */
            #{cKanbanCode},
            /*  */
            #{note},
            /*  */
            #{wwType},
            /*  */
            #{qty}
        )
    </insert>

    <!-- 删除 -->
    <delete id="delDjItrnAkp" parameterType="com.common.pojo.DjItrnAkp">
        DELETE
        FROM DJ_ITRN_AKP
        WHERE
            1 = 1
    </delete>

    <!-- 逻辑删除 -->
    <delete id="delDjItrnAkpForLogic" parameterType="com.common.pojo.DjItrnAkp">
        DELETE FROM  DJ_ITRN_AKP
        WHERE
            1 = 1
    </delete>

    <!-- 根据VO删除 -->
    <delete id="delDjItrnAkpByVo" parameterType="com.common.vo.DjItrnAkpVO">
        DELETE FROM DJ_ITRN_AKP
        WHERE
            1=1
            /*  */
            <if test="batchno != null and batchno != '' " >
                and BATCHNO =  #{batchno}
            </if>
            /*  */
            <if test="whCode != null and whCode != '' " >
                and WH_CODE =  #{whCode}
            </if>
            /*  */
            <if test="ownerCode != null and ownerCode != '' " >
                and OWNER_CODE =  #{ownerCode}
            </if>
            /*  */
            <if test="mtlCode != null and mtlCode != '' " >
                and MTL_CODE =  #{mtlCode}
            </if>
            /*  */
            <if test="ggxh != null and ggxh != '' " >
                and GGXH =  #{ggxh}
            </if>
            /*  */
            <if test="gongw != null and gongw != '' " >
                and GONGW =  #{gongw}
            </if>
            /*  */
            <if test="shengcx != null and shengcx != '' " >
                and SHENGCX =  #{shengcx}
            </if>
            /*  */
            <if test="daojCase != null and daojCase != '' " >
                and DAOJ_CASE =  #{daojCase}
            </if>
            /*  */
            <if test="jgsm != null and jgsm != '' " >
                and JGSM =  #{jgsm}
            </if>
            /*  */
            <if test="price != null and price != '' " >
                and PRICE =  #{price}
            </if>
            /*  */
            <if test="type != null and type != '' " >
                and TYPE =  #{type}
            </if>
            /*  */
            <if test="wwcode != null and wwcode != '' " >
                and WWCODE =  #{wwcode}
            </if>
            /*  */
            <if test="jgcs != null and jgcs != '' " >
                and JGCS =  #{jgcs}
            </if>
            /*  */
            <if test="lhcs != null and lhcs != '' " >
                and LHCS =  #{lhcs}
            </if>
            /*  */
            <if test="returnType != null and returnType != '' " >
                and RETURN_TYPE =  #{returnType}
            </if>
            /*  */
            <if test="createDate != null and createDate != '' " >
                and CREATE_DATE =  #{createDate}
            </if>
            /*  */
            <if test="createBy != null and createBy != '' " >
                and CREATE_BY =  #{createBy}
            </if>
            /*  */
            <if test="sharpenTimes != null and sharpenTimes != '' " >
                and SHARPEN_TIMES =  #{sharpenTimes}
            </if>
            /*  */
            <if test="bfCause != null and bfCause != '' " >
                and BF_CAUSE =  #{bfCause}
            </if>
            /*  */
            <if test="bfStatus != null and bfStatus != '' " >
                and BF_STATUS =  #{bfStatus}
            </if>
            /*  */
            <if test="kanbanCode != null and kanbanCode != '' " >
                and KANBAN_CODE =  #{kanbanCode}
            </if>
            /*  */
            <if test="wwOwner != null and wwOwner != '' " >
                and WW_OWNER =  #{wwOwner}
            </if>
            /*  */
            <if test="maxDjh != null and maxDjh != '' " >
                and MAX_DJH =  #{maxDjh}
            </if>
            /*  */
            <if test="rfid != null and rfid != '' " >
                and RFID =  #{rfid}
            </if>
            /*  */
            <if test="zcCode != null and zcCode != '' " >
                and ZC_CODE =  #{zcCode}
            </if>
            /*  */
            <if test="casecode != null and casecode != '' " >
                and CASECODE =  #{casecode}
            </if>
            /*  */
            <if test="cKanbanCode != null and cKanbanCode != '' " >
                and C_KANBAN_CODE =  #{cKanbanCode}
            </if>
            /*  */
            <if test="note != null and note != '' " >
                and NOTE =  #{note}
            </if>
            /*  */
            <if test="wwType != null and wwType != '' " >
                and WW_TYPE =  #{wwType}
            </if>
            /*  */
            <if test="qty != null and qty != '' " >
                and QTY =  #{qty}
            </if>
    </delete>

    <!-- 更新,如果属性不为null 则更新该属性,根据id更新 -->
    <update id="updDjItrnAkp" parameterType="com.common.pojo.DjItrnAkp">
        UPDATE DJ_ITRN_AKP
        SET
            /*  */
            <if test="batchno != null and batchno != '' " >
                BATCHNO =  #{batchno},
            </if>
            /*  */
            <if test="whCode != null and whCode != '' " >
                WH_CODE =  #{whCode},
            </if>
            /*  */
            <if test="ownerCode != null and ownerCode != '' " >
                OWNER_CODE =  #{ownerCode},
            </if>
            /*  */
            <if test="mtlCode != null and mtlCode != '' " >
                MTL_CODE =  #{mtlCode},
            </if>
            /*  */
            <if test="ggxh != null and ggxh != '' " >
                GGXH =  #{ggxh},
            </if>
            /*  */
            <if test="gongw != null and gongw != '' " >
                GONGW =  #{gongw},
            </if>
            /*  */
            <if test="shengcx != null and shengcx != '' " >
                SHENGCX =  #{shengcx},
            </if>
            /*  */
            <if test="daojCase != null and daojCase != '' " >
                DAOJ_CASE =  #{daojCase},
            </if>
            /*  */
            <if test="jgsm != null and jgsm != '' " >
                JGSM =  #{jgsm},
            </if>
            /*  */
            <if test="price != null and price != '' " >
                PRICE =  #{price},
            </if>
            /*  */
            <if test="type != null and type != '' " >
                TYPE =  #{type},
            </if>
            /*  */
            <if test="wwcode != null and wwcode != '' " >
                WWCODE =  #{wwcode},
            </if>
            /*  */
            <if test="jgcs != null and jgcs != '' " >
                JGCS =  #{jgcs},
            </if>
            /*  */
            <if test="lhcs != null and lhcs != '' " >
                LHCS =  #{lhcs},
            </if>
            /*  */
            <if test="returnType != null and returnType != '' " >
                RETURN_TYPE =  #{returnType},
            </if>
            /*  */
            <if test="createDate != null and createDate != '' " >
                CREATE_DATE =  #{createDate},
            </if>
            /*  */
            <if test="createBy != null and createBy != '' " >
                CREATE_BY =  #{createBy},
            </if>
            /*  */
            <if test="sharpenTimes != null and sharpenTimes != '' " >
                SHARPEN_TIMES =  #{sharpenTimes},
            </if>
            /*  */
            <if test="bfCause != null and bfCause != '' " >
                BF_CAUSE =  #{bfCause},
            </if>
            /*  */
            <if test="bfStatus != null and bfStatus != '' " >
                BF_STATUS =  #{bfStatus},
            </if>
            /*  */
            <if test="kanbanCode != null and kanbanCode != '' " >
                KANBAN_CODE =  #{kanbanCode},
            </if>
            /*  */
            <if test="wwOwner != null and wwOwner != '' " >
                WW_OWNER =  #{wwOwner},
            </if>
            /*  */
            <if test="maxDjh != null and maxDjh != '' " >
                MAX_DJH =  #{maxDjh},
            </if>
            /*  */
            <if test="rfid != null and rfid != '' " >
                RFID =  #{rfid},
            </if>
            /*  */
            <if test="zcCode != null and zcCode != '' " >
                ZC_CODE =  #{zcCode},
            </if>
            /*  */
            <if test="casecode != null and casecode != '' " >
                CASECODE =  #{casecode},
            </if>
            /*  */
            <if test="cKanbanCode != null and cKanbanCode != '' " >
                C_KANBAN_CODE =  #{cKanbanCode},
            </if>
            /*  */
            <if test="note != null and note != '' " >
                NOTE =  #{note},
            </if>
            /*  */
            <if test="wwType != null and wwType != '' " >
                WW_TYPE =  #{wwType},
            </if>
            /*  */
            <if test="qty != null and qty != '' " >
                QTY =  #{qty},
            </if>
        WHERE
            1 = 1
    </update>

    <!-- 分页查询 -->
    <select id="getDjItrnAkpByPage" parameterType="com.common.vo.DjItrnAkpVO" resultMap="djItrnAkpQueryMap">
        SELECT
        /*djItrnAkp begin*/
            /*  */
            DJ_ITRN_AKP.BATCHNO AS DJ_ITRN_AKP.BATCHNO,
            /*  */
            DJ_ITRN_AKP.WH_CODE AS DJ_ITRN_AKP.WH_CODE,
            /*  */
            DJ_ITRN_AKP.OWNER_CODE AS DJ_ITRN_AKP.OWNER_CODE,
            /*  */
            DJ_ITRN_AKP.MTL_CODE AS DJ_ITRN_AKP.MTL_CODE,
            /*  */
            DJ_ITRN_AKP.GGXH AS DJ_ITRN_AKP.GGXH,
            /*  */
            DJ_ITRN_AKP.GONGW AS DJ_ITRN_AKP.GONGW,
            /*  */
            DJ_ITRN_AKP.SHENGCX AS DJ_ITRN_AKP.SHENGCX,
            /*  */
            DJ_ITRN_AKP.DAOJ_CASE AS DJ_ITRN_AKP.DAOJ_CASE,
            /*  */
            DJ_ITRN_AKP.JGSM AS DJ_ITRN_AKP.JGSM,
            /*  */
            DJ_ITRN_AKP.PRICE AS DJ_ITRN_AKP.PRICE,
            /*  */
            DJ_ITRN_AKP.TYPE AS DJ_ITRN_AKP.TYPE,
            /*  */
            DJ_ITRN_AKP.WWCODE AS DJ_ITRN_AKP.WWCODE,
            /*  */
            DJ_ITRN_AKP.JGCS AS DJ_ITRN_AKP.JGCS,
            /*  */
            DJ_ITRN_AKP.LHCS AS DJ_ITRN_AKP.LHCS,
            /*  */
            DJ_ITRN_AKP.RETURN_TYPE AS DJ_ITRN_AKP.RETURN_TYPE,
            /*  */
            DJ_ITRN_AKP.CREATE_DATE AS DJ_ITRN_AKP.CREATE_DATE,
            /*  */
            DJ_ITRN_AKP.CREATE_BY AS DJ_ITRN_AKP.CREATE_BY,
            /*  */
            DJ_ITRN_AKP.SHARPEN_TIMES AS DJ_ITRN_AKP.SHARPEN_TIMES,
            /*  */
            DJ_ITRN_AKP.BF_CAUSE AS DJ_ITRN_AKP.BF_CAUSE,
            /*  */
            DJ_ITRN_AKP.BF_STATUS AS DJ_ITRN_AKP.BF_STATUS,
            /*  */
            DJ_ITRN_AKP.KANBAN_CODE AS DJ_ITRN_AKP.KANBAN_CODE,
            /*  */
            DJ_ITRN_AKP.WW_OWNER AS DJ_ITRN_AKP.WW_OWNER,
            /*  */
            DJ_ITRN_AKP.MAX_DJH AS DJ_ITRN_AKP.MAX_DJH,
            /*  */
            DJ_ITRN_AKP.RFID AS DJ_ITRN_AKP.RFID,
            /*  */
            DJ_ITRN_AKP.ZC_CODE AS DJ_ITRN_AKP.ZC_CODE,
            /*  */
            DJ_ITRN_AKP.CASECODE AS DJ_ITRN_AKP.CASECODE,
            /*  */
            DJ_ITRN_AKP.C_KANBAN_CODE AS DJ_ITRN_AKP.C_KANBAN_CODE,
            /*  */
            DJ_ITRN_AKP.NOTE AS DJ_ITRN_AKP.NOTE,
            /*  */
            DJ_ITRN_AKP.WW_TYPE AS DJ_ITRN_AKP.WW_TYPE,
            /*  */
            DJ_ITRN_AKP.QTY AS DJ_ITRN_AKP.QTY
        /*djItrnAkp end*/
        FROM DJ_ITRN_AKP DJ_ITRN_AKP
        WHERE
            1 = 1
        /*DJ_ITRN_AKP begin*/
            /*  */
            <if test="batchno != null and batchno != '' " >
                and DJ_ITRN_AKP.BATCHNO = #{batchno}
            </if>
            /*  */
            <if test="whCode != null and whCode != '' " >
                and DJ_ITRN_AKP.WH_CODE = #{whCode}
            </if>
            /*  */
            <if test="ownerCode != null and ownerCode != '' " >
                and DJ_ITRN_AKP.OWNER_CODE = #{ownerCode}
            </if>
            /*  */
            <if test="mtlCode != null and mtlCode != '' " >
                and DJ_ITRN_AKP.MTL_CODE = #{mtlCode}
            </if>
            /*  */
            <if test="ggxh != null and ggxh != '' " >
                and DJ_ITRN_AKP.GGXH = #{ggxh}
            </if>
            /*  */
            <if test="gongw != null and gongw != '' " >
                and DJ_ITRN_AKP.GONGW = #{gongw}
            </if>
            /*  */
            <if test="shengcx != null and shengcx != '' " >
                and DJ_ITRN_AKP.SHENGCX = #{shengcx}
            </if>
            /*  */
            <if test="daojCase != null and daojCase != '' " >
                and DJ_ITRN_AKP.DAOJ_CASE = #{daojCase}
            </if>
            /*  */
            <if test="jgsm != null and jgsm != '' " >
                and DJ_ITRN_AKP.JGSM = #{jgsm}
            </if>
            /*  */
            <if test="price != null and price != '' " >
                and DJ_ITRN_AKP.PRICE = #{price}
            </if>
            /*  */
            <if test="type != null and type != '' " >
                and DJ_ITRN_AKP.TYPE = #{type}
            </if>
            /*  */
            <if test="wwcode != null and wwcode != '' " >
                and DJ_ITRN_AKP.WWCODE = #{wwcode}
            </if>
            /*  */
            <if test="jgcs != null and jgcs != '' " >
                and DJ_ITRN_AKP.JGCS = #{jgcs}
            </if>
            /*  */
            <if test="lhcs != null and lhcs != '' " >
                and DJ_ITRN_AKP.LHCS = #{lhcs}
            </if>
            /*  */
            <if test="returnType != null and returnType != '' " >
                and DJ_ITRN_AKP.RETURN_TYPE = #{returnType}
            </if>
            /*  */
            <if test="createDate != null and createDate != '' " >
                and DJ_ITRN_AKP.CREATE_DATE = #{createDate}
            </if>
            /*  */
            <if test="createBy != null and createBy != '' " >
                and DJ_ITRN_AKP.CREATE_BY = #{createBy}
            </if>
            /*  */
            <if test="sharpenTimes != null and sharpenTimes != '' " >
                and DJ_ITRN_AKP.SHARPEN_TIMES = #{sharpenTimes}
            </if>
            /*  */
            <if test="bfCause != null and bfCause != '' " >
                and DJ_ITRN_AKP.BF_CAUSE = #{bfCause}
            </if>
            /*  */
            <if test="bfStatus != null and bfStatus != '' " >
                and DJ_ITRN_AKP.BF_STATUS = #{bfStatus}
            </if>
            /*  */
            <if test="kanbanCode != null and kanbanCode != '' " >
                and DJ_ITRN_AKP.KANBAN_CODE = #{kanbanCode}
            </if>
            /*  */
            <if test="wwOwner != null and wwOwner != '' " >
                and DJ_ITRN_AKP.WW_OWNER = #{wwOwner}
            </if>
            /*  */
            <if test="maxDjh != null and maxDjh != '' " >
                and DJ_ITRN_AKP.MAX_DJH = #{maxDjh}
            </if>
            /*  */
            <if test="rfid != null and rfid != '' " >
                and DJ_ITRN_AKP.RFID = #{rfid}
            </if>
            /*  */
            <if test="zcCode != null and zcCode != '' " >
                and DJ_ITRN_AKP.ZC_CODE = #{zcCode}
            </if>
            /*  */
            <if test="casecode != null and casecode != '' " >
                and DJ_ITRN_AKP.CASECODE = #{casecode}
            </if>
            /*  */
            <if test="cKanbanCode != null and cKanbanCode != '' " >
                and DJ_ITRN_AKP.C_KANBAN_CODE = #{cKanbanCode}
            </if>
            /*  */
            <if test="note != null and note != '' " >
                and DJ_ITRN_AKP.NOTE = #{note}
            </if>
            /*  */
            <if test="wwType != null and wwType != '' " >
                and DJ_ITRN_AKP.WW_TYPE = #{wwType}
            </if>
            /*  */
            <if test="qty != null and qty != '' " >
                and DJ_ITRN_AKP.QTY = #{qty}
            </if>
        /*DJ_ITRN_AKP end*/
        ORDER BY  desc
    </select>


    <!-- 查询记录数 -->
    <select id="getDjItrnAkpCount" parameterType="com.common.vo.DjItrnAkpVO" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM DJ_ITRN_AKP
        WHERE
            1 = 1
        /*DJ_ITRN_AKP begin*/
        /*  */
        <if test="batchno != null and batchno != '' " >
            and DJ_ITRN_AKP.BATCHNO = #{batchno}
        </if>
        /*  */
        <if test="whCode != null and whCode != '' " >
            and DJ_ITRN_AKP.WH_CODE = #{whCode}
        </if>
        /*  */
        <if test="ownerCode != null and ownerCode != '' " >
            and DJ_ITRN_AKP.OWNER_CODE = #{ownerCode}
        </if>
        /*  */
        <if test="mtlCode != null and mtlCode != '' " >
            and DJ_ITRN_AKP.MTL_CODE = #{mtlCode}
        </if>
        /*  */
        <if test="ggxh != null and ggxh != '' " >
            and DJ_ITRN_AKP.GGXH = #{ggxh}
        </if>
        /*  */
        <if test="gongw != null and gongw != '' " >
            and DJ_ITRN_AKP.GONGW = #{gongw}
        </if>
        /*  */
        <if test="shengcx != null and shengcx != '' " >
            and DJ_ITRN_AKP.SHENGCX = #{shengcx}
        </if>
        /*  */
        <if test="daojCase != null and daojCase != '' " >
            and DJ_ITRN_AKP.DAOJ_CASE = #{daojCase}
        </if>
        /*  */
        <if test="jgsm != null and jgsm != '' " >
            and DJ_ITRN_AKP.JGSM = #{jgsm}
        </if>
        /*  */
        <if test="price != null and price != '' " >
            and DJ_ITRN_AKP.PRICE = #{price}
        </if>
        /*  */
        <if test="type != null and type != '' " >
            and DJ_ITRN_AKP.TYPE = #{type}
        </if>
        /*  */
        <if test="wwcode != null and wwcode != '' " >
            and DJ_ITRN_AKP.WWCODE = #{wwcode}
        </if>
        /*  */
        <if test="jgcs != null and jgcs != '' " >
            and DJ_ITRN_AKP.JGCS = #{jgcs}
        </if>
        /*  */
        <if test="lhcs != null and lhcs != '' " >
            and DJ_ITRN_AKP.LHCS = #{lhcs}
        </if>
        /*  */
        <if test="returnType != null and returnType != '' " >
            and DJ_ITRN_AKP.RETURN_TYPE = #{returnType}
        </if>
        /*  */
        <if test="createDate != null and createDate != '' " >
            and DJ_ITRN_AKP.CREATE_DATE = #{createDate}
        </if>
        /*  */
        <if test="createBy != null and createBy != '' " >
            and DJ_ITRN_AKP.CREATE_BY = #{createBy}
        </if>
        /*  */
        <if test="sharpenTimes != null and sharpenTimes != '' " >
            and DJ_ITRN_AKP.SHARPEN_TIMES = #{sharpenTimes}
        </if>
        /*  */
        <if test="bfCause != null and bfCause != '' " >
            and DJ_ITRN_AKP.BF_CAUSE = #{bfCause}
        </if>
        /*  */
        <if test="bfStatus != null and bfStatus != '' " >
            and DJ_ITRN_AKP.BF_STATUS = #{bfStatus}
        </if>
        /*  */
        <if test="kanbanCode != null and kanbanCode != '' " >
            and DJ_ITRN_AKP.KANBAN_CODE = #{kanbanCode}
        </if>
        /*  */
        <if test="wwOwner != null and wwOwner != '' " >
            and DJ_ITRN_AKP.WW_OWNER = #{wwOwner}
        </if>
        /*  */
        <if test="maxDjh != null and maxDjh != '' " >
            and DJ_ITRN_AKP.MAX_DJH = #{maxDjh}
        </if>
        /*  */
        <if test="rfid != null and rfid != '' " >
            and DJ_ITRN_AKP.RFID = #{rfid}
        </if>
        /*  */
        <if test="zcCode != null and zcCode != '' " >
            and DJ_ITRN_AKP.ZC_CODE = #{zcCode}
        </if>
        /*  */
        <if test="casecode != null and casecode != '' " >
            and DJ_ITRN_AKP.CASECODE = #{casecode}
        </if>
        /*  */
        <if test="cKanbanCode != null and cKanbanCode != '' " >
            and DJ_ITRN_AKP.C_KANBAN_CODE = #{cKanbanCode}
        </if>
        /*  */
        <if test="note != null and note != '' " >
            and DJ_ITRN_AKP.NOTE = #{note}
        </if>
        /*  */
        <if test="wwType != null and wwType != '' " >
            and DJ_ITRN_AKP.WW_TYPE = #{wwType}
        </if>
        /*  */
        <if test="qty != null and qty != '' " >
            and DJ_ITRN_AKP.QTY = #{qty}
        </if>
        /*DJ_ITRN_AKP end*/
    </select>

    <!-- 根据vo查询 -->
    <select id="getDjItrnAkp" parameterType="com.common.vo.DjItrnAkpVO" resultMap="djItrnAkpQueryMap">
        SELECT
        /*DJ_ITRN_AKP begin*/
        /*  */
        DJ_ITRN_AKP.BATCHNO,
        /*  */
        DJ_ITRN_AKP.WH_CODE,
        /*  */
        DJ_ITRN_AKP.OWNER_CODE,
        /*  */
        DJ_ITRN_AKP.MTL_CODE,
        /*  */
        DJ_ITRN_AKP.GGXH,
        /*  */
        DJ_ITRN_AKP.GONGW,
        /*  */
        DJ_ITRN_AKP.SHENGCX,
        /*  */
        DJ_ITRN_AKP.DAOJ_CASE,
        /*  */
        DJ_ITRN_AKP.JGSM,
        /*  */
        DJ_ITRN_AKP.PRICE,
        /*  */
        DJ_ITRN_AKP.TYPE,
        /*  */
        DJ_ITRN_AKP.WWCODE,
        /*  */
        DJ_ITRN_AKP.JGCS,
        /*  */
        DJ_ITRN_AKP.LHCS,
        /*  */
        DJ_ITRN_AKP.RETURN_TYPE,
        /*  */
        DJ_ITRN_AKP.CREATE_DATE,
        /*  */
        DJ_ITRN_AKP.CREATE_BY,
        /*  */
        DJ_ITRN_AKP.SHARPEN_TIMES,
        /*  */
        DJ_ITRN_AKP.BF_CAUSE,
        /*  */
        DJ_ITRN_AKP.BF_STATUS,
        /*  */
        DJ_ITRN_AKP.KANBAN_CODE,
        /*  */
        DJ_ITRN_AKP.WW_OWNER,
        /*  */
        DJ_ITRN_AKP.MAX_DJH,
        /*  */
        DJ_ITRN_AKP.RFID,
        /*  */
        DJ_ITRN_AKP.ZC_CODE,
        /*  */
        DJ_ITRN_AKP.CASECODE,
        /*  */
        DJ_ITRN_AKP.C_KANBAN_CODE,
        /*  */
        DJ_ITRN_AKP.NOTE,
        /*  */
        DJ_ITRN_AKP.WW_TYPE,
        /*  */
        DJ_ITRN_AKP.QTY
        /*DJ_ITRN_AKP end*/
        FROM DJ_ITRN_AKP
        WHERE
            1 = 1
        /*DJ_ITRN_AKP begin*/
        /*  */
        <if test="batchno != null and batchno != '' " >
            and DJ_ITRN_AKP.BATCHNO = #{batchno}
        </if>
        /*  */
        <if test="whCode != null and whCode != '' " >
            and DJ_ITRN_AKP.WH_CODE = #{whCode}
        </if>
        /*  */
        <if test="ownerCode != null and ownerCode != '' " >
            and DJ_ITRN_AKP.OWNER_CODE = #{ownerCode}
        </if>
        /*  */
        <if test="mtlCode != null and mtlCode != '' " >
            and DJ_ITRN_AKP.MTL_CODE = #{mtlCode}
        </if>
        /*  */
        <if test="ggxh != null and ggxh != '' " >
            and DJ_ITRN_AKP.GGXH = #{ggxh}
        </if>
        /*  */
        <if test="gongw != null and gongw != '' " >
            and DJ_ITRN_AKP.GONGW = #{gongw}
        </if>
        /*  */
        <if test="shengcx != null and shengcx != '' " >
            and DJ_ITRN_AKP.SHENGCX = #{shengcx}
        </if>
        /*  */
        <if test="daojCase != null and daojCase != '' " >
            and DJ_ITRN_AKP.DAOJ_CASE = #{daojCase}
        </if>
        /*  */
        <if test="jgsm != null and jgsm != '' " >
            and DJ_ITRN_AKP.JGSM = #{jgsm}
        </if>
        /*  */
        <if test="price != null and price != '' " >
            and DJ_ITRN_AKP.PRICE = #{price}
        </if>
        /*  */
        <if test="type != null and type != '' " >
            and DJ_ITRN_AKP.TYPE = #{type}
        </if>
        /*  */
        <if test="wwcode != null and wwcode != '' " >
            and DJ_ITRN_AKP.WWCODE = #{wwcode}
        </if>
        /*  */
        <if test="jgcs != null and jgcs != '' " >
            and DJ_ITRN_AKP.JGCS = #{jgcs}
        </if>
        /*  */
        <if test="lhcs != null and lhcs != '' " >
            and DJ_ITRN_AKP.LHCS = #{lhcs}
        </if>
        /*  */
        <if test="returnType != null and returnType != '' " >
            and DJ_ITRN_AKP.RETURN_TYPE = #{returnType}
        </if>
        /*  */
        <if test="createDate != null and createDate != '' " >
            and DJ_ITRN_AKP.CREATE_DATE = #{createDate}
        </if>
        /*  */
        <if test="createBy != null and createBy != '' " >
            and DJ_ITRN_AKP.CREATE_BY = #{createBy}
        </if>
        /*  */
        <if test="sharpenTimes != null and sharpenTimes != '' " >
            and DJ_ITRN_AKP.SHARPEN_TIMES = #{sharpenTimes}
        </if>
        /*  */
        <if test="bfCause != null and bfCause != '' " >
            and DJ_ITRN_AKP.BF_CAUSE = #{bfCause}
        </if>
        /*  */
        <if test="bfStatus != null and bfStatus != '' " >
            and DJ_ITRN_AKP.BF_STATUS = #{bfStatus}
        </if>
        /*  */
        <if test="kanbanCode != null and kanbanCode != '' " >
            and DJ_ITRN_AKP.KANBAN_CODE = #{kanbanCode}
        </if>
        /*  */
        <if test="wwOwner != null and wwOwner != '' " >
            and DJ_ITRN_AKP.WW_OWNER = #{wwOwner}
        </if>
        /*  */
        <if test="maxDjh != null and maxDjh != '' " >
            and DJ_ITRN_AKP.MAX_DJH = #{maxDjh}
        </if>
        /*  */
        <if test="rfid != null and rfid != '' " >
            and DJ_ITRN_AKP.RFID = #{rfid}
        </if>
        /*  */
        <if test="zcCode != null and zcCode != '' " >
            and DJ_ITRN_AKP.ZC_CODE = #{zcCode}
        </if>
        /*  */
        <if test="casecode != null and casecode != '' " >
            and DJ_ITRN_AKP.CASECODE = #{casecode}
        </if>
        /*  */
        <if test="cKanbanCode != null and cKanbanCode != '' " >
            and DJ_ITRN_AKP.C_KANBAN_CODE = #{cKanbanCode}
        </if>
        /*  */
        <if test="note != null and note != '' " >
            and DJ_ITRN_AKP.NOTE = #{note}
        </if>
        /*  */
        <if test="wwType != null and wwType != '' " >
            and DJ_ITRN_AKP.WW_TYPE = #{wwType}
        </if>
        /*  */
        <if test="qty != null and qty != '' " >
            and DJ_ITRN_AKP.QTY = #{qty}
        </if>
        /*DJ_ITRN_AKP end*/
    </select>
</mapper>