<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.mapper.IDjCircleKanbanAkpMapper">
    <resultMap id="djCircleKanbanAkpQueryMap" type="com.common.pojo.DjCircleKanbanAkp">
        <id property="cKanbanCode" column="C_KANBAN_CODE"/>
        <!-- 仓库 -->
        <result property="whCode" column="WH_CODE"/>
        <!-- 刀具条码，看板号 'CK' -->
        <result property="cKanbanCode" column="C_KANBAN_CODE"/>
        <!-- 供应商 -->
        <result property="ownerCode" column="OWNER_CODE"/>
        <!-- 物料号 -->
        <result property="mtlCode" column="MTL_CODE"/>
        <!-- 物料名称 -->
        <result property="mtlName" column="MTL_NAME"/>
        <!-- 单次加工寿命 -->
        <result property="qty" column="QTY"/>
        <!-- 刀具号 -->
        <result property="loc" column="LOC"/>
        <!-- 生产线 -->
        <result property="prdLine" column="PRD_LINE"/>
        <!-- 工位 -->
        <result property="station" column="STATION"/>
        <!-- 工厂 -->
        <result property="boxType" column="BOX_TYPE"/>
        <!-- 项目 -->
        <result property="prdLineType" column="PRD_LINE_TYPE"/>
        <!-- 0-新建 1-已打印 -->
        <result property="status" column="STATUS"/>
        <!-- 安装数 -->
        <result property="susr1" column="SUSR1"/>
        <!-- 规则型号 -->
        <result property="susr2" column="SUSR2"/>
        <!-- 采购价格 -->
        <result property="susr3" column="SUSR3"/>
        <!-- 同时加工件数 -->
        <result property="susr4" column="SUSR4"/>
        <!-- 刀具品牌 -->
        <result property="brand" column="BRAND"/>
        <!-- 订货号 -->
        <result property="orderCode" column="ORDER_CODE"/>
        <!-- 用途 -->
        <result property="application" column="APPLICATION"/>
        <!-- 复列设备数/复列工位数 -->
        <result property="stationNum" column="STATION_NUM"/>
        <!-- 产品标识 -->
        <result property="productFlag" column="PRODUCT_FLAG"/>
        <!-- 外委标识 -->
        <result property="outsourcingFlag" column="OUTSOURCING_FLAG"/>
        <!-- 总寿命 -->
        <result property="lifeMax" column="LIFE_MAX"/>
    </resultMap>
    <!-- 添加 -->
    <insert id="addDjCircleKanbanAkp" parameterType="com.common.pojo.DjCircleKanbanAkp">
        INSERT INTO FCCCMS.DJ_CIRCLE_KANBAN_AKP (
        /* 仓库 */
        WH_CODE,
        /* 刀具条码，看板号 'CK' */
        C_KANBAN_CODE,
        /* 供应商 */
        OWNER_CODE,
        /* 物料号 */
        MTL_CODE,
        /* 物料名称 */
        MTL_NAME,
        /* 单次加工寿命 */
        QTY,
        /* 刀具号 */
        LOC,
        /* 生产线 */
        PRD_LINE,
        /* 工位 */
        STATION,
        /* 工厂 */
        BOX_TYPE,
        /* 项目 */
        PRD_LINE_TYPE,
        /* 0-新建 1-已打印 */
        STATUS,
        /* 安装数 */
        SUSR1,
        /* 规则型号 */
        SUSR2,
        /* 采购价格 */
        SUSR3,
        /* 同时加工件数 */
        SUSR4,
        /* 刀具品牌 */
        BRAND,
        /* 订货号 */
        ORDER_CODE,
        /* 用途 */
        APPLICATION,
        /* 复列设备数/复列工位数 */
        STATION_NUM,
        /* 产品标识 */
        PRODUCT_FLAG,
        /* 外委标识 */
        OUTSOURCING_FLAG,
        /* 总寿命 */
        LIFE_MAX
        )
        VALUES (
        /* 仓库 */
        #{whCode},
        /* 刀具条码，看板号 'CK' */
        #{cKanbanCode},
        /* 供应商 */
        #{ownerCode},
        /* 物料号 */
        #{mtlCode},
        /* 物料名称 */
        #{mtlName},
        /* 单次加工寿命 */
        #{qty},
        /* 刀具号 */
        #{loc},
        /* 生产线 */
        #{prdLine},
        /* 工位 */
        #{station},
        /* 工厂 */
        #{boxType},
        /* 项目 */
        #{prdLineType},
        /* 0-新建 1-已打印 */
        #{status},
        /* 安装数 */
        #{susr1},
        /* 规则型号 */
        #{susr2},
        /* 采购价格 */
        #{susr3},
        /* 同时加工件数 */
        #{susr4},
        /* 刀具品牌 */
        #{brand},
        /* 订货号 */
        #{orderCode},
        /* 用途 */
        #{application},
        /* 复列设备数/复列工位数 */
        #{stationNum},
        /* 产品标识 */
        #{productFlag},
        /* 外委标识 */
        #{outsourcingFlag},
        /* 总寿命 */
        #{lifeMax}
        )
    </insert>

    <!-- 删除 -->
    <delete id="delDjCircleKanbanAkp" parameterType="com.common.pojo.DjCircleKanbanAkp">
        DELETE
        FROM FCCCMS.DJ_CIRCLE_KANBAN_AKP
        WHERE
        1 = 1
    </delete>

    <!-- 逻辑删除 -->
    <delete id="delDjCircleKanbanAkpForLogic" parameterType="com.common.pojo.DjCircleKanbanAkp">
        DELETE FROM  FCCCMS.DJ_CIRCLE_KANBAN_AKP
        WHERE
        1 = 1
    </delete>

    <!-- 根据VO删除 -->
    <delete id="delDjCircleKanbanAkpByVo" parameterType="com.common.vo.DjCircleKanbanAkpVO">
        DELETE FROM FCCCMS.DJ_CIRCLE_KANBAN_AKP
        WHERE
        1=1
        /* 仓库 */
        <if test="whCode != null and whCode != '' " >
            and WH_CODE =  #{whCode}
        </if>
        /* 刀具条码，看板号 'CK' */
        <if test="cKanbanCode != null and cKanbanCode != '' " >
            and C_KANBAN_CODE =  #{cKanbanCode}
        </if>
        /* 供应商 */
        <if test="ownerCode != null and ownerCode != '' " >
            and OWNER_CODE =  #{ownerCode}
        </if>
        /* 物料号 */
        <if test="mtlCode != null and mtlCode != '' " >
            and MTL_CODE =  #{mtlCode}
        </if>
        /* 物料名称 */
        <if test="mtlName != null and mtlName != '' " >
            and MTL_NAME =  #{mtlName}
        </if>
        /* 单次加工寿命 */
        <if test="qty != null and qty != '' " >
            and QTY =  #{qty}
        </if>
        /* 刀具号 */
        <if test="loc != null and loc != '' " >
            and LOC =  #{loc}
        </if>
        /* 生产线 */
        <if test="prdLine != null and prdLine != '' " >
            and PRD_LINE =  #{prdLine}
        </if>
        /* 工位 */
        <if test="station != null and station != '' " >
            and STATION =  #{station}
        </if>
        /* 工厂 */
        <if test="boxType != null and boxType != '' " >
            and BOX_TYPE =  #{boxType}
        </if>
        /* 项目 */
        <if test="prdLineType != null and prdLineType != '' " >
            and PRD_LINE_TYPE =  #{prdLineType}
        </if>
        /* 0-新建 1-已打印 */
        <if test="status != null and status != '' " >
            and STATUS =  #{status}
        </if>
        /* 安装数 */
        <if test="susr1 != null and susr1 != '' " >
            and SUSR1 =  #{susr1}
        </if>
        /* 规则型号 */
        <if test="susr2 != null and susr2 != '' " >
            and SUSR2 =  #{susr2}
        </if>
        /* 采购价格 */
        <if test="susr3 != null and susr3 != '' " >
            and SUSR3 =  #{susr3}
        </if>
        /* 同时加工件数 */
        <if test="susr4 != null and susr4 != '' " >
            and SUSR4 =  #{susr4}
        </if>
        /* 刀具品牌 */
        <if test="brand != null and brand != '' " >
            and BRAND =  #{brand}
        </if>
        /* 订货号 */
        <if test="orderCode != null and orderCode != '' " >
            and ORDER_CODE =  #{orderCode}
        </if>
        /* 用途 */
        <if test="application != null and application != '' " >
            and APPLICATION =  #{application}
        </if>
        /* 复列设备数/复列工位数 */
        <if test="stationNum != null and stationNum != '' " >
            and STATION_NUM =  #{stationNum}
        </if>
        /* 产品标识 */
        <if test="productFlag != null and productFlag != '' " >
            and PRODUCT_FLAG =  #{productFlag}
        </if>
        /* 外委标识 */
        <if test="outsourcingFlag != null and outsourcingFlag != '' " >
            and OUTSOURCING_FLAG =  #{outsourcingFlag}
        </if>
        /* 总寿命 */
        <if test="lifeMax != null and lifeMax != '' " >
            and LIFE_MAX =  #{lifeMax}
        </if>
    </delete>

    <!-- 更新,如果属性不为null 则更新该属性,根据id更新 -->
    <update id="updDjCircleKanbanAkp" parameterType="com.common.pojo.DjCircleKanbanAkp">
        UPDATE FCCCMS.DJ_CIRCLE_KANBAN_AKP
        SET
        /* 仓库 */
        <if test="whCode != null and whCode != '' " >
            WH_CODE =  #{whCode},
        </if>
        /* 刀具条码，看板号 'CK' */
        <if test="cKanbanCode != null and cKanbanCode != '' " >
            C_KANBAN_CODE =  #{cKanbanCode},
        </if>
        /* 供应商 */
        <if test="ownerCode != null and ownerCode != '' " >
            OWNER_CODE =  #{ownerCode},
        </if>
        /* 物料号 */
        <if test="mtlCode != null and mtlCode != '' " >
            MTL_CODE =  #{mtlCode},
        </if>
        /* 物料名称 */
        <if test="mtlName != null and mtlName != '' " >
            MTL_NAME =  #{mtlName},
        </if>
        /* 单次加工寿命 */
        <if test="qty != null and qty != '' " >
            QTY =  #{qty},
        </if>
        /* 刀具号 */
        <if test="loc != null and loc != '' " >
            LOC =  #{loc},
        </if>
        /* 生产线 */
        <if test="prdLine != null and prdLine != '' " >
            PRD_LINE =  #{prdLine},
        </if>
        /* 工位 */
        <if test="station != null and station != '' " >
            STATION =  #{station},
        </if>
        /* 工厂 */
        <if test="boxType != null and boxType != '' " >
            BOX_TYPE =  #{boxType},
        </if>
        /* 项目 */
        <if test="prdLineType != null and prdLineType != '' " >
            PRD_LINE_TYPE =  #{prdLineType},
        </if>
        /* 0-新建 1-已打印 */
        <if test="status != null and status != '' " >
            STATUS =  #{status},
        </if>
        /* 安装数 */
        <if test="susr1 != null and susr1 != '' " >
            SUSR1 =  #{susr1},
        </if>
        /* 规则型号 */
        <if test="susr2 != null and susr2 != '' " >
            SUSR2 =  #{susr2},
        </if>
        /* 采购价格 */
        <if test="susr3 != null and susr3 != '' " >
            SUSR3 =  #{susr3},
        </if>
        /* 同时加工件数 */
        <if test="susr4 != null and susr4 != '' " >
            SUSR4 =  #{susr4},
        </if>
        /* 刀具品牌 */
        <if test="brand != null and brand != '' " >
            BRAND =  #{brand},
        </if>
        /* 订货号 */
        <if test="orderCode != null and orderCode != '' " >
            ORDER_CODE =  #{orderCode},
        </if>
        /* 用途 */
        <if test="application != null and application != '' " >
            APPLICATION =  #{application},
        </if>
        /* 复列设备数/复列工位数 */
        <if test="stationNum != null and stationNum != '' " >
            STATION_NUM =  #{stationNum},
        </if>
        /* 产品标识 */
        <if test="productFlag != null and productFlag != '' " >
            PRODUCT_FLAG =  #{productFlag},
        </if>
        /* 外委标识 */
        <if test="outsourcingFlag != null and outsourcingFlag != '' " >
            OUTSOURCING_FLAG =  #{outsourcingFlag},
        </if>
        /* 总寿命 */
        <if test="lifeMax != null and lifeMax != '' " >
            LIFE_MAX =  #{lifeMax},
        </if>
        WHERE
        1 = 1
    </update>

    <!-- 分页查询 -->
    <select id="getDjCircleKanbanAkpByPage" parameterType="com.common.vo.DjCircleKanbanAkpVO" resultMap="djCircleKanbanAkpQueryMap">
        SELECT
        /*djCircleKanbanAkp begin*/
        /* 仓库 */
        WH_CODE as WH_CODE,
        /* 刀具条码，看板号 'CK' */
        C_KANBAN_CODE as C_KANBAN_CODE,
        /* 供应商 */
        OWNER_CODE as OWNER_CODE,
        /* 物料号 */
        MTL_CODE as MTL_CODE,
        /* 物料名称 */
        MTL_NAME as MTL_NAME,
        /* 单次加工寿命 */
        QTY as QTY,
        /* 刀具号 */
        LOC as LOC,
        /* 生产线 */
        PRD_LINE as PRD_LINE,
        /* 工位 */
        STATION as STATION,
        /* 工厂 */
        BOX_TYPE as BOX_TYPE,
        /* 项目 */
        PRD_LINE_TYPE as PRD_LINE_TYPE,
        /* 0-新建 1-已打印 */
        STATUS as STATUS,
        /* 安装数 */
        SUSR1 as SUSR1,
        /* 规则型号 */
        SUSR2 as SUSR2,
        /* 采购价格 */
        SUSR3 as SUSR3,
        /* 同时加工件数 */
        SUSR4 as SUSR4,
        /* 刀具品牌 */
        BRAND as BRAND,
        /* 订货号 */
        ORDER_CODE as ORDER_CODE,
        /* 用途 */
        APPLICATION as APPLICATION,
        /* 复列设备数/复列工位数 */
        STATION_NUM as STATION_NUM,
        /* 产品标识 */
        PRODUCT_FLAG as PRODUCT_FLAG,
        /* 外委标识 */
        OUTSOURCING_FLAG as OUTSOURCING_FLAG,
        /* 总寿命 */
        LIFE_MAX as LIFE_MAX
        /*djCircleKanbanAkp end*/
        FROM FCCCMS.DJ_CIRCLE_KANBAN_AKP
        WHERE
        1 = 1
        /*FCCCMS.DJ_CIRCLE_KANBAN_AKP begin*/
        /* 仓库 */
        <if test="whCode != null and whCode != '' " >
            and WH_CODE = #{whCode}
        </if>
        /* 刀具条码，看板号 'CK' */
        <if test="cKanbanCode != null and cKanbanCode != '' " >
            and C_KANBAN_CODE = #{cKanbanCode}
        </if>
        /* 供应商 */
        <if test="ownerCode != null and ownerCode != '' " >
            and OWNER_CODE = #{ownerCode}
        </if>
        /* 物料号 */
        <if test="mtlCode != null and mtlCode != '' " >
            and MTL_CODE = #{mtlCode}
        </if>
        /* 物料名称 */
        <if test="mtlName != null and mtlName != '' " >
            and MTL_NAME = #{mtlName}
        </if>
        /* 单次加工寿命 */
        <if test="qty != null and qty != '' " >
            and QTY = #{qty}
        </if>
        /* 刀具号 */
        <if test="loc != null and loc != '' " >
            and LOC = #{loc}
        </if>
        /* 生产线 */
        <if test="prdLine != null and prdLine != '' " >
            and PRD_LINE = #{prdLine}
        </if>
        /* 工位 */
        <if test="station != null and station != '' " >
            and STATION = #{station}
        </if>
        /* 工厂 */
        <if test="boxType != null and boxType != '' " >
            and BOX_TYPE = #{boxType}
        </if>
        /* 项目 */
        <if test="prdLineType != null and prdLineType != '' " >
            and PRD_LINE_TYPE = #{prdLineType}
        </if>
        /* 0-新建 1-已打印 */
        <if test="status != null and status != '' " >
            and STATUS = #{status}
        </if>
        /* 安装数 */
        <if test="susr1 != null and susr1 != '' " >
            and SUSR1 = #{susr1}
        </if>
        /* 规则型号 */
        <if test="susr2 != null and susr2 != '' " >
            and SUSR2 = #{susr2}
        </if>
        /* 采购价格 */
        <if test="susr3 != null and susr3 != '' " >
            and SUSR3 = #{susr3}
        </if>
        /* 同时加工件数 */
        <if test="susr4 != null and susr4 != '' " >
            and SUSR4 = #{susr4}
        </if>
        /* 刀具品牌 */
        <if test="brand != null and brand != '' " >
            and BRAND = #{brand}
        </if>
        /* 订货号 */
        <if test="orderCode != null and orderCode != '' " >
            and ORDER_CODE = #{orderCode}
        </if>
        /* 用途 */
        <if test="application != null and application != '' " >
            and APPLICATION = #{application}
        </if>
        /* 复列设备数/复列工位数 */
        <if test="stationNum != null and stationNum != '' " >
            and STATION_NUM = #{stationNum}
        </if>
        /* 产品标识 */
        <if test="productFlag != null and productFlag != '' " >
            and PRODUCT_FLAG = #{productFlag}
        </if>
        /* 外委标识 */
        <if test="outsourcingFlag != null and outsourcingFlag != '' " >
            and OUTSOURCING_FLAG = #{outsourcingFlag}
        </if>
        /* 总寿命 */
        <if test="lifeMax != null and lifeMax != '' " >
            and LIFE_MAX = #{lifeMax}
        </if>
        /*FCCCMS.DJ_CIRCLE_KANBAN_AKP end*/
        ORDER BY  desc
    </select>


    <!-- 查询记录数 -->
    <select id="getDjCircleKanbanAkpCount" parameterType="com.common.vo.DjCircleKanbanAkpVO" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM FCCCMS.DJ_CIRCLE_KANBAN_AKP
        WHERE
        1 = 1
        /*FCCCMS.DJ_CIRCLE_KANBAN_AKP begin*/
        /* 仓库 */
        <if test="whCode != null and whCode != '' " >
            and WH_CODE = #{whCode}
        </if>
        /* 刀具条码，看板号 'CK' */
        <if test="cKanbanCode != null and cKanbanCode != '' " >
            and C_KANBAN_CODE = #{cKanbanCode}
        </if>
        /* 供应商 */
        <if test="ownerCode != null and ownerCode != '' " >
            and OWNER_CODE = #{ownerCode}
        </if>
        /* 物料号 */
        <if test="mtlCode != null and mtlCode != '' " >
            and MTL_CODE = #{mtlCode}
        </if>
        /* 物料名称 */
        <if test="mtlName != null and mtlName != '' " >
            and MTL_NAME = #{mtlName}
        </if>
        /* 单次加工寿命 */
        <if test="qty != null and qty != '' " >
            and QTY = #{qty}
        </if>
        /* 刀具号 */
        <if test="loc != null and loc != '' " >
            and LOC = #{loc}
        </if>
        /* 生产线 */
        <if test="prdLine != null and prdLine != '' " >
            and PRD_LINE = #{prdLine}
        </if>
        /* 工位 */
        <if test="station != null and station != '' " >
            and STATION = #{station}
        </if>
        /* 工厂 */
        <if test="boxType != null and boxType != '' " >
            and BOX_TYPE = #{boxType}
        </if>
        /* 项目 */
        <if test="prdLineType != null and prdLineType != '' " >
            and PRD_LINE_TYPE = #{prdLineType}
        </if>
        /* 0-新建 1-已打印 */
        <if test="status != null and status != '' " >
            and STATUS = #{status}
        </if>
        /* 安装数 */
        <if test="susr1 != null and susr1 != '' " >
            and SUSR1 = #{susr1}
        </if>
        /* 规则型号 */
        <if test="susr2 != null and susr2 != '' " >
            and SUSR2 = #{susr2}
        </if>
        /* 采购价格 */
        <if test="susr3 != null and susr3 != '' " >
            and SUSR3 = #{susr3}
        </if>
        /* 同时加工件数 */
        <if test="susr4 != null and susr4 != '' " >
            and SUSR4 = #{susr4}
        </if>
        /* 刀具品牌 */
        <if test="brand != null and brand != '' " >
            and BRAND = #{brand}
        </if>
        /* 订货号 */
        <if test="orderCode != null and orderCode != '' " >
            and ORDER_CODE = #{orderCode}
        </if>
        /* 用途 */
        <if test="application != null and application != '' " >
            and APPLICATION = #{application}
        </if>
        /* 复列设备数/复列工位数 */
        <if test="stationNum != null and stationNum != '' " >
            and STATION_NUM = #{stationNum}
        </if>
        /* 产品标识 */
        <if test="productFlag != null and productFlag != '' " >
            and PRODUCT_FLAG = #{productFlag}
        </if>
        /* 外委标识 */
        <if test="outsourcingFlag != null and outsourcingFlag != '' " >
            and OUTSOURCING_FLAG = #{outsourcingFlag}
        </if>
        /* 总寿命 */
        <if test="lifeMax != null and lifeMax != '' " >
            and LIFE_MAX = #{lifeMax}
        </if>
        /*FCCCMS.DJ_CIRCLE_KANBAN_AKP end*/
    </select>

    <!-- 根据vo查询 -->
    <select id="getDjCircleKanbanAkp" parameterType="com.common.vo.DjCircleKanbanAkpVO" resultMap="djCircleKanbanAkpQueryMap">
        SELECT
        /*FCCCMS.DJ_CIRCLE_KANBAN_AKP begin*/
        /*djCircleKanbanAkp begin*/
        /* 仓库 */
        WH_CODE as WH_CODE,
        /* 刀具条码，看板号 'CK' */
        C_KANBAN_CODE as C_KANBAN_CODE,
        /* 供应商 */
        OWNER_CODE as OWNER_CODE,
        /* 物料号 */
        MTL_CODE as MTL_CODE,
        /* 物料名称 */
        MTL_NAME as MTL_NAME,
        /* 单次加工寿命 */
        QTY as QTY,
        /* 刀具号 */
        LOC as LOC,
        /* 生产线 */
        PRD_LINE as PRD_LINE,
        /* 工位 */
        STATION as STATION,
        /* 工厂 */
        BOX_TYPE as BOX_TYPE,
        /* 项目 */
        PRD_LINE_TYPE as PRD_LINE_TYPE,
        /* 0-新建 1-已打印 */
        STATUS as STATUS,
        /* 安装数 */
        SUSR1 as SUSR1,
        /* 规则型号 */
        SUSR2 as SUSR2,
        /* 采购价格 */
        SUSR3 as SUSR3,
        /* 同时加工件数 */
        SUSR4 as SUSR4,
        /* 刀具品牌 */
        BRAND as BRAND,
        /* 订货号 */
        ORDER_CODE as ORDER_CODE,
        /* 用途 */
        APPLICATION as APPLICATION,
        /* 复列设备数/复列工位数 */
        STATION_NUM as STATION_NUM,
        /* 产品标识 */
        PRODUCT_FLAG as PRODUCT_FLAG,
        /* 外委标识 */
        OUTSOURCING_FLAG as OUTSOURCING_FLAG,
        /* 总寿命 */
        LIFE_MAX as LIFE_MAX
        /*FCCCMS.DJ_CIRCLE_KANBAN_AKP end*/
        FROM FCCCMS.DJ_CIRCLE_KANBAN_AKP
        WHERE
        1 = 1
        /*FCCCMS.DJ_CIRCLE_KANBAN_AKP begin*/
        /* 仓库 */
        <if test="whCode != null and whCode != '' " >
            and WH_CODE = #{whCode}
        </if>
        /* 刀具条码，看板号 'CK' */
        <if test="cKanbanCode != null and cKanbanCode != '' " >
            and C_KANBAN_CODE = #{cKanbanCode}
        </if>
        /* 供应商 */
        <if test="ownerCode != null and ownerCode != '' " >
            and OWNER_CODE = #{ownerCode}
        </if>
        /* 物料号 */
        <if test="mtlCode != null and mtlCode != '' " >
            and MTL_CODE = #{mtlCode}
        </if>
        /* 物料名称 */
        <if test="mtlName != null and mtlName != '' " >
            and MTL_NAME = #{mtlName}
        </if>
        /* 单次加工寿命 */
        <if test="qty != null and qty != '' " >
            and QTY = #{qty}
        </if>
        /* 刀具号 */
        <if test="loc != null and loc != '' " >
            and LOC = #{loc}
        </if>
        /* 生产线 */
        <if test="prdLine != null and prdLine != '' " >
            and PRD_LINE = #{prdLine}
        </if>
        /* 工位 */
        <if test="station != null and station != '' " >
            and STATION = #{station}
        </if>
        /* 工厂 */
        <if test="boxType != null and boxType != '' " >
            and BOX_TYPE = #{boxType}
        </if>
        /* 项目 */
        <if test="prdLineType != null and prdLineType != '' " >
            and PRD_LINE_TYPE = #{prdLineType}
        </if>
        /* 0-新建 1-已打印 */
        <if test="status != null and status != '' " >
            and STATUS = #{status}
        </if>
        /* 安装数 */
        <if test="susr1 != null and susr1 != '' " >
            and SUSR1 = #{susr1}
        </if>
        /* 规则型号 */
        <if test="susr2 != null and susr2 != '' " >
            and SUSR2 = #{susr2}
        </if>
        /* 采购价格 */
        <if test="susr3 != null and susr3 != '' " >
            and SUSR3 = #{susr3}
        </if>
        /* 同时加工件数 */
        <if test="susr4 != null and susr4 != '' " >
            and SUSR4 = #{susr4}
        </if>
        /* 刀具品牌 */
        <if test="brand != null and brand != '' " >
            and BRAND = #{brand}
        </if>
        /* 订货号 */
        <if test="orderCode != null and orderCode != '' " >
            and ORDER_CODE = #{orderCode}
        </if>
        /* 用途 */
        <if test="application != null and application != '' " >
            and APPLICATION = #{application}
        </if>
        /* 复列设备数/复列工位数 */
        <if test="stationNum != null and stationNum != '' " >
            and STATION_NUM = #{stationNum}
        </if>
        /* 产品标识 */
        <if test="productFlag != null and productFlag != '' " >
            and PRODUCT_FLAG = #{productFlag}
        </if>
        /* 外委标识 */
        <if test="outsourcingFlag != null and outsourcingFlag != '' " >
            and OUTSOURCING_FLAG = #{outsourcingFlag}
        </if>
        /* 总寿命 */
        <if test="lifeMax != null and lifeMax != '' " >
            and LIFE_MAX = #{lifeMax}
        </if>
        /*FCCCMS.DJ_CIRCLE_KANBAN_AKP end*/
    </select>
</mapper>