<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.mapper.IDjItrnAkpMapper">
    <resultMap id="djItrnAkpQueryMap" type="com.common.pojo.DjItrnAkp">
        <!--<id property="id" column="ID"/>-->
        <!-- 批次 -->
        <result property="batchno" column="BATCHNO"/>
        <!-- 仓库 ‘FSDJ’ -->
        <result property="whCode" column="WH_CODE"/>
        <!-- 供应商号 -->
        <result property="ownerCode" column="OWNER_CODE"/>
        <!-- 物料号，加外围类型 -->
        <result property="mtlCode" column="MTL_CODE"/>
        <!-- 规格型号 -->
        <result property="ggxh" column="GGXH"/>
        <!-- 工位 -->
        <result property="gongw" column="GONGW"/>
        <!-- 生产线 -->
        <result property="shengcx" column="SHENGCX"/>
        <!-- 刀具号 -->
        <result property="daojCase" column="DAOJ_CASE"/>
        <!-- 加工寿命 -->
        <result property="jgsm" column="JGSM"/>
        <!-- 价格 -->
        <result property="price" column="PRICE"/>
        <!-- 类型：N生成 U领用 R归还 S1车间刃磨 S2外委刃磨 S3直接外委 SR刃磨归还 SD刃磨报废 D报废 -->
        <result property="type" column="TYPE"/>
        <!-- 外委单号 -->
        <result property="wwcode" column="WWCODE"/>
        <!-- 实际加工寿命，加工次数 -->
        <result property="jgcs" column="JGCS"/>
        <!-- 刀具轮回次数，值为 palabel_cms 中remark03(车间刃磨次数)+remark04(外委刃磨次数)+1 -->
        <result property="lhcs" column="LHCS"/>
        <!-- 归还类型 1外委归还 2刃磨归还 3报废 -->
        <result property="returnType" column="RETURN_TYPE"/>
        <!-- 创建时间 -->
        <result property="createDate" column="CREATE_DATE"/>
        <!-- 创建人 -->
        <result property="createBy" column="CREATE_BY"/>
        <!-- 加工次数 -->
        <result property="processTimes" column="PROCESS_TIMES"/>
        <!-- 刃磨次数 -->
        <result property="sharpenTimes" column="SHARPEN_TIMES"/>
        <!-- 报废原因 -->
        <result property="bfCause" column="BF_CAUSE"/>
        <!-- 报废状态（0.断刀1.丢刀2.到寿3.出库报废4.其他） -->
        <result property="bfStatus" column="BF_STATUS"/>
        <!-- 刀签号 -->
        <result property="casecode" column="CASECODE"/>
        <!-- 领料条码,'CK' -->
        <result property="cKanbanCode" column="C_KANBAN_CODE"/>
        <!-- 备注长文本 -->
        <result property="note" column="note"/>
        <!-- 出库看板号“DJLY” -->
        <result property="kanbanCode" column="KANBAN_CODE"/>
        <!-- 外委供应商 -->
        <result property="wwOwner" column="WW_OWNER"/>
        <!-- 当前最大刀头号 -->
        <result property="maxDjh" column="MAX_DJH"/>
        <!-- 当前RFID -->
        <result property="rfid" column="RFID"/>
        <!-- 外委资材单号 -->
        <result property="zcCode" column="ZC_CODE"/>
    </resultMap>
    <!-- 添加 -->
    <insert id="addDjItrnAkp" parameterType="com.common.pojo.DjItrnAkp">
        INSERT INTO DJ_ITRN_AKP (
        /* 批次 */
        BATCHNO,
        /* 仓库 ‘FSDJ’ */
        WH_CODE,
        /* 供应商号 */
        OWNER_CODE,
        /* 物料号，加外围类型 */
        MTL_CODE,
        /* 规格型号 */
        GGXH,
        /* 工位 */
        GONGW,
        /* 生产线 */
        SHENGCX,
        /* 刀具号 */
        DAOJ_CASE,
        /* 加工寿命 */
        JGSM,
        /* 价格 */
        PRICE,
        /* 类型：N生成 U领用 R归还 S1车间刃磨 S2外委刃磨 S3直接外委 SR刃磨归还 SD刃磨报废 D报废 */
        TYPE,
        /* 外委单号 */
        WWCODE,
        /* 实际加工寿命，加工次数 */
        JGCS,
        /* 刀具轮回次数，值为 palabel_cms 中remark03(车间刃磨次数)+remark04(外委刃磨次数)+1 */
        LHCS,
        /* 归还类型 1外委归还 2刃磨归还 3报废 */
        RETURN_TYPE,
        /* 创建时间 */
        CREATE_DATE,
        /* 创建人 */
        CREATE_BY,
        /* 加工次数 */
        PROCESS_TIMES,
        /* 刃磨次数 */
        SHARPEN_TIMES,
        /* 报废原因 */
        BF_CAUSE,
        /* 报废状态（0.断刀1.丢刀2.到寿3.出库报废4.其他） */
        BF_STATUS,
        /* 刀签号 */
        CASECODE,
        /* 领料条码,'CK' */
        C_KANBAN_CODE,
        /* 备注长文本 */
        note,
        /* 出库看板号“DJLY” */
        KANBAN_CODE,
        /* 外委供应商 */
        WW_OWNER,
        /* 当前最大刀头号 */
        MAX_DJH,
        /* 当前RFID */
        RFID,
        /* 外委资材单号 */
        ZC_CODE
        )
        VALUES (
        /* 批次 */
        #{batchno},
        /* 仓库 ‘FSDJ’ */
        #{whCode,jdbcType=VARCHAR},
        /* 供应商号 */
        #{ownerCode,jdbcType=VARCHAR},
        /* 物料号，加外围类型 */
        #{mtlCode,jdbcType=VARCHAR},
        /* 规格型号 */
        #{ggxh,jdbcType=VARCHAR},
        /* 工位 */
        #{gongw,jdbcType=VARCHAR},
        /* 生产线 */
        #{shengcx,jdbcType=VARCHAR},
        /* 刀具号 */
        #{daojCase,jdbcType=VARCHAR},
        /* 加工寿命 */
        #{jgsm,jdbcType=VARCHAR},
        /* 价格 */
        #{price,jdbcType=VARCHAR},
        /* 类型：N生成 U领用 R归还 S1车间刃磨 S2外委刃磨 S3直接外委 SR刃磨归还 SD刃磨报废 D报废 */
        #{type,jdbcType=VARCHAR},
        /* 外委单号 */
        #{wwcode,jdbcType=VARCHAR},
        /* 实际加工寿命，加工次数 */
        #{jgcs,jdbcType=VARCHAR},
        /* 刀具轮回次数，值为 palabel_cms 中remark03(车间刃磨次数)+remark04(外委刃磨次数)+1 */
        #{lhcs,jdbcType=VARCHAR},
        /* 归还类型 1外委归还 2刃磨归还 3报废 */
        #{returnType,jdbcType=VARCHAR},
        /* 创建时间 */
        #{createDate,jdbcType=DATE},
        /* 创建人 */
        #{createBy,jdbcType=NUMERIC},
        /* 加工次数 */
        #{processTimes,jdbcType=NUMERIC},
        /* 刃磨次数 */
        #{sharpenTimes,jdbcType=NUMERIC},
        /* 报废原因 */
        #{bfCause,jdbcType=VARCHAR},
        /* 报废状态（0.断刀1.丢刀2.到寿3.出库报废4.其他） */
        #{bfStatus,jdbcType=VARCHAR},
        /* 刀签号 */
        #{casecode,jdbcType=VARCHAR},
        /* 领料条码,'CK' */
        #{cKanbanCode,jdbcType=VARCHAR},
        /* 备注长文本 */
        #{note,jdbcType=VARCHAR},
        /* 出库看板号“DJLY” */
        #{kanbanCode,jdbcType=VARCHAR},
        /* 外委供应商 */
        #{wwOwner,jdbcType=VARCHAR},
        /* 当前最大刀头号 */
        #{maxDjh,jdbcType=VARCHAR},
        /* 当前RFID */
        #{rfid,jdbcType=VARCHAR},
        /* 外委资材单号 */
        #{zcCode,jdbcType=VARCHAR}
        )
    </insert>

    <!-- 删除 -->
    <delete id="delDjItrnAkp" parameterType="com.common.pojo.DjItrnAkp">
        DELETE
        FROM DJ_ITRN_AKP
        WHERE
        1 = 1
    </delete>

    <!-- 逻辑删除 -->
    <delete id="delDjItrnAkpForLogic" parameterType="com.common.pojo.DjItrnAkp">
        DELETE FROM DJ_ITRN_AKP
        WHERE
        1 = 1
    </delete>

    <!-- 根据VO删除 -->
    <delete id="delDjItrnAkpByVo" parameterType="com.common.vo.DjItrnAkpVO">
        DELETE FROM DJ_ITRN_AKP
        WHERE
        1=1
        /* 批次 */
        <if test="batchno != null and batchno != '' " >
            and BATCHNO =  #{batchno}
        </if>
        /* 仓库 ‘FSDJ’ */
        <if test="whCode != null and whCode != '' " >
            and WH_CODE =  #{whCode}
        </if>
        /* 供应商号 */
        <if test="ownerCode != null and ownerCode != '' " >
            and OWNER_CODE =  #{ownerCode}
        </if>
        /* 物料号，加外围类型 */
        <if test="mtlCode != null and mtlCode != '' " >
            and MTL_CODE =  #{mtlCode}
        </if>
        /* 规格型号 */
        <if test="ggxh != null and ggxh != '' " >
            and GGXH =  #{ggxh}
        </if>
        /* 工位 */
        <if test="gongw != null and gongw != '' " >
            and GONGW =  #{gongw}
        </if>
        /* 生产线 */
        <if test="shengcx != null and shengcx != '' " >
            and SHENGCX =  #{shengcx}
        </if>
        /* 刀具号 */
        <if test="daojCase != null and daojCase != '' " >
            and DAOJ_CASE =  #{daojCase}
        </if>
        /* 加工寿命 */
        <if test="jgsm != null and jgsm != '' " >
            and JGSM =  #{jgsm}
        </if>
        /* 价格 */
        <if test="price != null and price != '' " >
            and PRICE =  #{price}
        </if>
        /* 类型：N生成 U领用 R归还 S1车间刃磨 S2外委刃磨 S3直接外委 SR刃磨归还 SD刃磨报废 D报废 */
        <if test="type != null and type != '' " >
            and TYPE =  #{type}
        </if>
        /* 外委单号 */
        <if test="wwcode != null and wwcode != '' " >
            and WWCODE =  #{wwcode}
        </if>
        /* 实际加工寿命，加工次数 */
        <if test="jgcs != null and jgcs != '' " >
            and JGCS =  #{jgcs}
        </if>
        /* 刀具轮回次数，值为 palabel_cms 中remark03(车间刃磨次数)+remark04(外委刃磨次数)+1 */
        <if test="lhcs != null and lhcs != '' " >
            and LHCS =  #{lhcs}
        </if>
        /* 归还类型 1外委归还 2刃磨归还 3报废 */
        <if test="returnType != null and returnType != '' " >
            and RETURN_TYPE =  #{returnType}
        </if>
        /* 创建时间 */
        <if test="createDate != null" >
            and CREATE_DATE =  #{createDate}
        </if>
        /* 创建人 */
        <if test="createBy != null and createBy != '' " >
            and CREATE_BY =  #{createBy}
        </if>
        /* 加工次数 */
        <if test="processTimes != null and processTimes != '' " >
            and PROCESS_TIMES =  #{processTimes}
        </if>
        /* 刃磨次数 */
        <if test="sharpenTimes != null and sharpenTimes != '' " >
            and SHARPEN_TIMES =  #{sharpenTimes}
        </if>
        /* 报废原因 */
        <if test="bfCause != null and bfCause != '' " >
            and BF_CAUSE =  #{bfCause}
        </if>
        /* 报废状态（0.断刀1.丢刀2.到寿3.出库报废4.其他） */
        <if test="bfStatus != null and bfStatus != '' " >
            and BF_STATUS =  #{bfStatus}
        </if>
        /* 刀签号 */
        <if test="casecode != null and casecode != '' " >
            and CASECODE =  #{casecode}
        </if>
        /* 领料条码,'CK' */
        <if test="cKanbanCode != null and cKanbanCode != '' " >
            and C_KANBAN_CODE =  #{cKanbanCode}
        </if>
        /* 备注长文本 */
        <if test="note != null and note != '' " >
            and note =  #{note}
        </if>
        /* 出库看板号“DJLY” */
        <if test="kanbanCode != null and kanbanCode != '' " >
            and KANBAN_CODE =  #{kanbanCode}
        </if>
        /* 外委供应商 */
        <if test="wwOwner != null and wwOwner != '' " >
            and WW_OWNER =  #{wwOwner}
        </if>
        /* 当前最大刀头号 */
        <if test="maxDjh != null and maxDjh != '' " >
            and MAX_DJH =  #{maxDjh}
        </if>
        /* 当前RFID */
        <if test="rfid != null and rfid != '' " >
            and RFID =  #{rfid}
        </if>
        /* 外委资材单号 */
        <if test="zcCode != null and zcCode != '' " >
            and ZC_CODE =  #{zcCode}
        </if>
    </delete>

    <!-- 更新,如果属性不为null 则更新该属性,根据id更新 -->
    <update id="updDjItrnAkp" parameterType="com.common.pojo.DjItrnAkp">
        UPDATE DJ_ITRN_AKP
        SET
        /* 批次 */
        <if test="batchno != null and batchno != '' " >
            BATCHNO =  #{batchno},
        </if>
        /* 仓库 ‘FSDJ’ */
        <if test="whCode != null and whCode != '' " >
            WH_CODE =  #{whCode},
        </if>
        /* 供应商号 */
        <if test="ownerCode != null and ownerCode != '' " >
            OWNER_CODE =  #{ownerCode},
        </if>
        /* 物料号，加外围类型 */
        <if test="mtlCode != null and mtlCode != '' " >
            MTL_CODE =  #{mtlCode},
        </if>
        /* 规格型号 */
        <if test="ggxh != null and ggxh != '' " >
            GGXH =  #{ggxh},
        </if>
        /* 工位 */
        <if test="gongw != null and gongw != '' " >
            GONGW =  #{gongw},
        </if>
        /* 生产线 */
        <if test="shengcx != null and shengcx != '' " >
            SHENGCX =  #{shengcx},
        </if>
        /* 刀具号 */
        <if test="daojCase != null and daojCase != '' " >
            DAOJ_CASE =  #{daojCase},
        </if>
        /* 加工寿命 */
        <if test="jgsm != null and jgsm != '' " >
            JGSM =  #{jgsm},
        </if>
        /* 价格 */
        <if test="price != null and price != '' " >
            PRICE =  #{price},
        </if>
        /* 类型：N生成 U领用 R归还 S1车间刃磨 S2外委刃磨 S3直接外委 SR刃磨归还 SD刃磨报废 D报废 */
        <if test="type != null and type != '' " >
            TYPE =  #{type},
        </if>
        /* 外委单号 */
        <if test="wwcode != null and wwcode != '' " >
            WWCODE =  #{wwcode},
        </if>
        /* 实际加工寿命，加工次数 */
        <if test="jgcs != null and jgcs != '' " >
            JGCS =  #{jgcs},
        </if>
        /* 刀具轮回次数，值为 palabel_cms 中remark03(车间刃磨次数)+remark04(外委刃磨次数)+1 */
        <if test="lhcs != null and lhcs != '' " >
            LHCS =  #{lhcs},
        </if>
        /* 归还类型 1外委归还 2刃磨归还 3报废 */
        <if test="returnType != null and returnType != '' " >
            RETURN_TYPE =  #{returnType},
        </if>
        /* 创建时间 */
        <if test="createDate != null" >
            CREATE_DATE =  #{createDate},
        </if>
        /* 创建人 */
        <if test="createBy != null and createBy != '' " >
            CREATE_BY =  #{createBy},
        </if>
        /* 加工次数 */
        <if test="processTimes != null and processTimes != '' " >
            PROCESS_TIMES =  #{processTimes},
        </if>
        /* 刃磨次数 */
        <if test="sharpenTimes != null and sharpenTimes != '' " >
            SHARPEN_TIMES =  #{sharpenTimes},
        </if>
        /* 报废原因 */
        <if test="bfCause != null and bfCause != '' " >
            BF_CAUSE =  #{bfCause},
        </if>
        /* 报废状态（0.断刀1.丢刀2.到寿3.出库报废4.其他） */
        <if test="bfStatus != null and bfStatus != '' " >
            BF_STATUS =  #{bfStatus},
        </if>
        /* 刀签号 */
        <if test="casecode != null and casecode != '' " >
            CASECODE =  #{casecode},
        </if>
        /* 领料条码,'CK' */
        <if test="cKanbanCode != null and cKanbanCode != '' " >
            C_KANBAN_CODE =  #{cKanbanCode},
        </if>
        /* 备注长文本 */
        <if test="note != null and note != '' " >
            note =  #{note},
        </if>
        /* 出库看板号“DJLY” */
        <if test="kanbanCode != null and kanbanCode != '' " >
            KANBAN_CODE =  #{kanbanCode},
        </if>
        /* 外委供应商 */
        <if test="wwOwner != null and wwOwner != '' " >
            WW_OWNER =  #{wwOwner},
        </if>
        /* 当前最大刀头号 */
        <if test="maxDjh != null and maxDjh != '' " >
            MAX_DJH =  #{maxDjh},
        </if>
        /* 当前RFID */
        <if test="rfid != null and rfid != '' " >
            RFID =  #{rfid},
        </if>
        /* 外委资材单号 */
        <if test="zcCode != null and zcCode != '' " >
            ZC_CODE =  #{zcCode},
        </if>
        WHERE
        1 = 1
    </update>

    <!-- 分页查询 -->
    <select id="getDjItrnAkpByPage" parameterType="com.common.vo.DjItrnAkpVO" resultMap="djItrnAkpQueryMap">
        SELECT
        /*djItrnAkp begin*/
        /* 批次 */
        BATCHNO,
        /* 仓库 ‘FSDJ’ */
        WH_CODE,
        /* 供应商号 */
        OWNER_CODE,
        /* 物料号，加外围类型 */
        MTL_CODE,
        /* 规格型号 */
        GGXH,
        /* 工位 */
        GONGW,
        /* 生产线 */
        SHENGCX,
        /* 刀具号 */
        DAOJ_CASE,
        /* 加工寿命 */
        JGSM,
        /* 价格 */
        PRICE,
        /* 类型：N生成 U领用 R归还 S1车间刃磨 S2外委刃磨 S3直接外委 SR刃磨归还 SD刃磨报废 D报废 */
        TYPE,
        /* 外委单号 */
        WWCODE,
        /* 实际加工寿命，加工次数 */
        JGCS,
        /* 刀具轮回次数，值为 palabel_cms 中remark03(车间刃磨次数)+remark04(外委刃磨次数)+1 */
        LHCS,
        /* 归还类型 1外委归还 2刃磨归还 3报废 */
        RETURN_TYPE,
        /* 创建时间 */
        CREATE_DATE,
        /* 创建人 */
        CREATE_BY,
        /* 加工次数 */
        PROCESS_TIMES,
        /* 刃磨次数 */
        SHARPEN_TIMES,
        /* 报废原因 */
        BF_CAUSE,
        /* 报废状态（0.断刀1.丢刀2.到寿3.出库报废4.其他） */
        BF_STATUS,
        /* 刀签号 */
        CASECODE,
        /* 领料条码,'CK' */
        C_KANBAN_CODE,
        /* 备注长文本 */
        note,
        /* 出库看板号“DJLY” */
        KANBAN_CODE,
        /* 外委供应商 */
        WW_OWNER,
        /* 当前最大刀头号 */
        MAX_DJH,
        /* 当前RFID */
        RFID,
        /* 外委资材单号 */
        ZC_CODE
        /*djItrnAkp end*/
        FROM DJ_ITRN_AKP
        WHERE
        1 = 1 
        /*DJ_ITRN_AKP begin*/
        /* 批次 */
        <if test="batchno != null and batchno != '' " >
            and BATCHNO = #{batchno}
        </if>
        /* 仓库 ‘FSDJ’ */
        <if test="whCode != null and whCode != '' " >
            and WH_CODE = #{whCode}
        </if>
        /* 供应商号 */
        <if test="ownerCode != null and ownerCode != '' " >
            and OWNER_CODE = #{ownerCode}
        </if>
        /* 物料号，加外围类型 */
        <if test="mtlCode != null and mtlCode != '' " >
            and MTL_CODE = #{mtlCode}
        </if>
        /* 规格型号 */
        <if test="ggxh != null and ggxh != '' " >
            and GGXH = #{ggxh}
        </if>
        /* 工位 */
        <if test="gongw != null and gongw != '' " >
            and GONGW = #{gongw}
        </if>
        /* 生产线 */
        <if test="shengcx != null and shengcx != '' " >
            and SHENGCX = #{shengcx}
        </if>
        /* 刀具号 */
        <if test="daojCase != null and daojCase != '' " >
            and DAOJ_CASE = #{daojCase}
        </if>
        /* 加工寿命 */
        <if test="jgsm != null and jgsm != '' " >
            and JGSM = #{jgsm}
        </if>
        /* 价格 */
        <if test="price != null and price != '' " >
            and PRICE = #{price}
        </if>
        /* 类型：N生成 U领用 R归还 S1车间刃磨 S2外委刃磨 S3直接外委 SR刃磨归还 SD刃磨报废 D报废 */
        <if test="type != null and type != '' " >
            and TYPE = #{type}
        </if>
        /* 外委单号 */
        <if test="wwcode != null and wwcode != '' " >
            and WWCODE = #{wwcode}
        </if>
        /* 实际加工寿命，加工次数 */
        <if test="jgcs != null and jgcs != '' " >
            and JGCS = #{jgcs}
        </if>
        /* 刀具轮回次数，值为 palabel_cms 中remark03(车间刃磨次数)+remark04(外委刃磨次数)+1 */
        <if test="lhcs != null and lhcs != '' " >
            and LHCS = #{lhcs}
        </if>
        /* 归还类型 1外委归还 2刃磨归还 3报废 */
        <if test="returnType != null and returnType != '' " >
            and RETURN_TYPE = #{returnType}
        </if>
        /* 创建时间 */
        <if test="createDate != null" >
            and CREATE_DATE = #{createDate}
        </if>
        /* 创建人 */
        <if test="createBy != null and createBy != '' " >
            and CREATE_BY = #{createBy}
        </if>
        /* 加工次数 */
        <if test="processTimes != null and processTimes != '' " >
            and PROCESS_TIMES = #{processTimes}
        </if>
        /* 刃磨次数 */
        <if test="sharpenTimes != null and sharpenTimes != '' " >
            and SHARPEN_TIMES = #{sharpenTimes}
        </if>
        /* 报废原因 */
        <if test="bfCause != null and bfCause != '' " >
            and BF_CAUSE = #{bfCause}
        </if>
        /* 报废状态（0.断刀1.丢刀2.到寿3.出库报废4.其他） */
        <if test="bfStatus != null and bfStatus != '' " >
            and BF_STATUS = #{bfStatus}
        </if>
        /* 刀签号 */
        <if test="casecode != null and casecode != '' " >
            and CASECODE = #{casecode}
        </if>
        /* 领料条码,'CK' */
        <if test="cKanbanCode != null and cKanbanCode != '' " >
            and C_KANBAN_CODE = #{cKanbanCode}
        </if>
        /* 备注长文本 */
        <if test="note != null and note != '' " >
            and note = #{note}
        </if>
        /* 出库看板号“DJLY” */
        <if test="kanbanCode != null and kanbanCode != '' " >
            and KANBAN_CODE = #{kanbanCode}
        </if>
        /* 外委供应商 */
        <if test="wwOwner != null and wwOwner != '' " >
            and WW_OWNER = #{wwOwner}
        </if>
        /* 当前最大刀头号 */
        <if test="maxDjh != null and maxDjh != '' " >
            and MAX_DJH = #{maxDjh}
        </if>
        /* 当前RFID */
        <if test="rfid != null and rfid != '' " >
            and RFID = #{rfid}
        </if>
        /* 外委资材单号 */
        <if test="zcCode != null and zcCode != '' " >
            and ZC_CODE = #{zcCode}
        </if>
        /*DJ_ITRN_AKP end*/
        ORDER BY  desc
    </select>


    <!-- 查询记录数 -->
    <select id="getDjItrnAkpCount" parameterType="com.common.vo.DjItrnAkpVO" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM DJ_ITRN_AKP
        WHERE
        1 = 1 
        /*DJ_ITRN_AKP begin*/
        /* 批次 */
        <if test="batchno != null and batchno != '' " >
            and BATCHNO = #{batchno}
        </if>
        /* 仓库 ‘FSDJ’ */
        <if test="whCode != null and whCode != '' " >
            and WH_CODE = #{whCode}
        </if>
        /* 供应商号 */
        <if test="ownerCode != null and ownerCode != '' " >
            and OWNER_CODE = #{ownerCode}
        </if>
        /* 物料号，加外围类型 */
        <if test="mtlCode != null and mtlCode != '' " >
            and MTL_CODE = #{mtlCode}
        </if>
        /* 规格型号 */
        <if test="ggxh != null and ggxh != '' " >
            and GGXH = #{ggxh}
        </if>
        /* 工位 */
        <if test="gongw != null and gongw != '' " >
            and GONGW = #{gongw}
        </if>
        /* 生产线 */
        <if test="shengcx != null and shengcx != '' " >
            and SHENGCX = #{shengcx}
        </if>
        /* 刀具号 */
        <if test="daojCase != null and daojCase != '' " >
            and DAOJ_CASE = #{daojCase}
        </if>
        /* 加工寿命 */
        <if test="jgsm != null and jgsm != '' " >
            and JGSM = #{jgsm}
        </if>
        /* 价格 */
        <if test="price != null and price != '' " >
            and PRICE = #{price}
        </if>
        /* 类型：N生成 U领用 R归还 S1车间刃磨 S2外委刃磨 S3直接外委 SR刃磨归还 SD刃磨报废 D报废 */
        <if test="type != null and type != '' " >
            and TYPE = #{type}
        </if>
        /* 外委单号 */
        <if test="wwcode != null and wwcode != '' " >
            and WWCODE = #{wwcode}
        </if>
        /* 实际加工寿命，加工次数 */
        <if test="jgcs != null and jgcs != '' " >
            and JGCS = #{jgcs}
        </if>
        /* 刀具轮回次数，值为 palabel_cms 中remark03(车间刃磨次数)+remark04(外委刃磨次数)+1 */
        <if test="lhcs != null and lhcs != '' " >
            and LHCS = #{lhcs}
        </if>
        /* 归还类型 1外委归还 2刃磨归还 3报废 */
        <if test="returnType != null and returnType != '' " >
            and RETURN_TYPE = #{returnType}
        </if>
        /* 创建时间 */
        <if test="createDate != null" >
            and CREATE_DATE = #{createDate}
        </if>
        /* 创建人 */
        <if test="createBy != null and createBy != '' " >
            and CREATE_BY = #{createBy}
        </if>
        /* 加工次数 */
        <if test="processTimes != null and processTimes != '' " >
            and PROCESS_TIMES = #{processTimes}
        </if>
        /* 刃磨次数 */
        <if test="sharpenTimes != null and sharpenTimes != '' " >
            and SHARPEN_TIMES = #{sharpenTimes}
        </if>
        /* 报废原因 */
        <if test="bfCause != null and bfCause != '' " >
            and BF_CAUSE = #{bfCause}
        </if>
        /* 报废状态（0.断刀1.丢刀2.到寿3.出库报废4.其他） */
        <if test="bfStatus != null and bfStatus != '' " >
            and BF_STATUS = #{bfStatus}
        </if>
        /* 刀签号 */
        <if test="casecode != null and casecode != '' " >
            and CASECODE = #{casecode}
        </if>
        /* 领料条码,'CK' */
        <if test="cKanbanCode != null and cKanbanCode != '' " >
            and C_KANBAN_CODE = #{cKanbanCode}
        </if>
        /* 备注长文本 */
        <if test="note != null and note != '' " >
            and note = #{note}
        </if>
        /* 出库看板号“DJLY” */
        <if test="kanbanCode != null and kanbanCode != '' " >
            and KANBAN_CODE = #{kanbanCode}
        </if>
        /* 外委供应商 */
        <if test="wwOwner != null and wwOwner != '' " >
            and WW_OWNER = #{wwOwner}
        </if>
        /* 当前最大刀头号 */
        <if test="maxDjh != null and maxDjh != '' " >
            and MAX_DJH = #{maxDjh}
        </if>
        /* 当前RFID */
        <if test="rfid != null and rfid != '' " >
            and RFID = #{rfid}
        </if>
        /* 外委资材单号 */
        <if test="zcCode != null and zcCode != '' " >
            and ZC_CODE = #{zcCode}
        </if>
        /*DJ_ITRN_AKP end*/
    </select>

    <!-- 根据vo查询 -->
    <select id="getDjItrnAkp" parameterType="com.common.vo.DjItrnAkpVO" resultMap="djItrnAkpQueryMap">
        SELECT
        /*DJ_ITRN_AKP begin*/
        /* 批次 */
        BATCHNO,
        /* 仓库 ‘FSDJ’ */
        WH_CODE,
        /* 供应商号 */
        OWNER_CODE,
        /* 物料号，加外围类型 */
        MTL_CODE,
        /* 规格型号 */
        GGXH,
        /* 工位 */
        GONGW,
        /* 生产线 */
        SHENGCX,
        /* 刀具号 */
        DAOJ_CASE,
        /* 加工寿命 */
        JGSM,
        /* 价格 */
        PRICE,
        /* 类型：N生成 U领用 R归还 S1车间刃磨 S2外委刃磨 S3直接外委 SR刃磨归还 SD刃磨报废 D报废 */
        TYPE,
        /* 外委单号 */
        WWCODE,
        /* 实际加工寿命，加工次数 */
        JGCS,
        /* 刀具轮回次数，值为 palabel_cms 中remark03(车间刃磨次数)+remark04(外委刃磨次数)+1 */
        LHCS,
        /* 归还类型 1外委归还 2刃磨归还 3报废 */
        RETURN_TYPE,
        /* 创建时间 */
        CREATE_DATE,
        /* 创建人 */
        CREATE_BY,
        /* 加工次数 */
        PROCESS_TIMES,
        /* 刃磨次数 */
        SHARPEN_TIMES,
        /* 报废原因 */
        BF_CAUSE,
        /* 报废状态（0.断刀1.丢刀2.到寿3.出库报废4.其他） */
        BF_STATUS,
        /* 刀签号 */
        CASECODE,
        /* 领料条码,'CK' */
        C_KANBAN_CODE,
        /* 备注长文本 */
        note,
        /* 出库看板号“DJLY” */
        KANBAN_CODE,
        /* 外委供应商 */
        WW_OWNER,
        /* 当前最大刀头号 */
        MAX_DJH,
        /* 当前RFID */
        RFID,
        /* 外委资材单号 */
        ZC_CODE
        /*DJ_ITRN_AKP end*/
        FROM DJ_ITRN_AKP
        WHERE
        1 = 1 
        /*DJ_ITRN_AKP begin*/
        /* 批次 */
        <if test="batchno != null and batchno != '' " >
            and BATCHNO = #{batchno}
        </if>
        /* 仓库 ‘FSDJ’ */
        <if test="whCode != null and whCode != '' " >
            and WH_CODE = #{whCode}
        </if>
        /* 供应商号 */
        <if test="ownerCode != null and ownerCode != '' " >
            and OWNER_CODE = #{ownerCode}
        </if>
        /* 物料号，加外围类型 */
        <if test="mtlCode != null and mtlCode != '' " >
            and MTL_CODE = #{mtlCode}
        </if>
        /* 规格型号 */
        <if test="ggxh != null and ggxh != '' " >
            and GGXH = #{ggxh}
        </if>
        /* 工位 */
        <if test="gongw != null and gongw != '' " >
            and GONGW = #{gongw}
        </if>
        /* 生产线 */
        <if test="shengcx != null and shengcx != '' " >
            and SHENGCX = #{shengcx}
        </if>
        /* 刀具号 */
        <if test="daojCase != null and daojCase != '' " >
            and DAOJ_CASE = #{daojCase}
        </if>
        /* 加工寿命 */
        <if test="jgsm != null and jgsm != '' " >
            and JGSM = #{jgsm}
        </if>
        /* 价格 */
        <if test="price != null and price != '' " >
            and PRICE = #{price}
        </if>
        /* 类型：N生成 U领用 R归还 S1车间刃磨 S2外委刃磨 S3直接外委 SR刃磨归还 SD刃磨报废 D报废 */
        <if test="type != null and type != '' " >
            and TYPE = #{type}
        </if>
        /* 外委单号 */
        <if test="wwcode != null and wwcode != '' " >
            and WWCODE = #{wwcode}
        </if>
        /* 实际加工寿命，加工次数 */
        <if test="jgcs != null and jgcs != '' " >
            and JGCS = #{jgcs}
        </if>
        /* 刀具轮回次数，值为 palabel_cms 中remark03(车间刃磨次数)+remark04(外委刃磨次数)+1 */
        <if test="lhcs != null and lhcs != '' " >
            and LHCS = #{lhcs}
        </if>
        /* 归还类型 1外委归还 2刃磨归还 3报废 */
        <if test="returnType != null and returnType != '' " >
            and RETURN_TYPE = #{returnType}
        </if>
        /* 创建时间 */
        <if test="createDate != null" >
            and CREATE_DATE = #{createDate}
        </if>
        /* 创建人 */
        <if test="createBy != null and createBy != '' " >
            and CREATE_BY = #{createBy}
        </if>
        /* 加工次数 */
        <if test="processTimes != null and processTimes != '' " >
            and PROCESS_TIMES = #{processTimes}
        </if>
        /* 刃磨次数 */
        <if test="sharpenTimes != null and sharpenTimes != '' " >
            and SHARPEN_TIMES = #{sharpenTimes}
        </if>
        /* 报废原因 */
        <if test="bfCause != null and bfCause != '' " >
            and BF_CAUSE = #{bfCause}
        </if>
        /* 报废状态（0.断刀1.丢刀2.到寿3.出库报废4.其他） */
        <if test="bfStatus != null and bfStatus != '' " >
            and BF_STATUS = #{bfStatus}
        </if>
        /* 刀签号 */
        <if test="casecode != null and casecode != '' " >
            and CASECODE = #{casecode}
        </if>
        /* 领料条码,'CK' */
        <if test="cKanbanCode != null and cKanbanCode != '' " >
            and C_KANBAN_CODE = #{cKanbanCode}
        </if>
        /* 备注长文本 */
        <if test="note != null and note != '' " >
            and note = #{note}
        </if>
        /* 出库看板号“DJLY” */
        <if test="kanbanCode != null and kanbanCode != '' " >
            and KANBAN_CODE = #{kanbanCode}
        </if>
        /* 外委供应商 */
        <if test="wwOwner != null and wwOwner != '' " >
            and WW_OWNER = #{wwOwner}
        </if>
        /* 当前最大刀头号 */
        <if test="maxDjh != null and maxDjh != '' " >
            and MAX_DJH = #{maxDjh}
        </if>
        /* 当前RFID */
        <if test="rfid != null and rfid != '' " >
            and RFID = #{rfid}
        </if>
        /* 外委资材单号 */
        <if test="zcCode != null and zcCode != '' " >
            and ZC_CODE = #{zcCode}
        </if>
        /*DJ_ITRN_AKP end*/
    </select>


    <!-- 根据vo查询 -->
    <select id="getLast" parameterType="com.common.vo.DjItrnAkpVO" resultMap="djItrnAkpQueryMap">
        SELECT
        /*DJ_ITRN_AKP begin*/
        /* 批次 */
        BATCHNO,
        /* 仓库 ‘FSDJ’ */
        WH_CODE,
        /* 供应商号 */
        OWNER_CODE,
        /* 物料号，加外围类型 */
        MTL_CODE,
        /* 规格型号 */
        GGXH,
        /* 工位 */
        GONGW,
        /* 生产线 */
        SHENGCX,
        /* 刀具号 */
        DAOJ_CASE,
        /* 加工寿命 */
        JGSM,
        /* 价格 */
        PRICE,
        /* 类型：N生成 U领用 R归还 S1车间刃磨 S2外委刃磨 S3直接外委 SR刃磨归还 SD刃磨报废 D报废 */
        TYPE,
        /* 外委单号 */
        WWCODE,
        /* 实际加工寿命，加工次数 */
        JGCS,
        /* 刀具轮回次数，值为 palabel_cms 中remark03(车间刃磨次数)+remark04(外委刃磨次数)+1 */
        LHCS,
        /* 归还类型 1外委归还 2刃磨归还 3报废 */
        RETURN_TYPE,
        /* 创建时间 */
        CREATE_DATE,
        /* 创建人 */
        CREATE_BY,
        /* 加工次数 */
        PROCESS_TIMES,
        /* 刃磨次数 */
        SHARPEN_TIMES,
        /* 报废原因 */
        BF_CAUSE,
        /* 报废状态（0.断刀1.丢刀2.到寿3.出库报废4.其他） */
        BF_STATUS,
        /* 刀签号 */
        CASECODE,
        /* 领料条码,'CK' */
        C_KANBAN_CODE,
        /* 备注长文本 */
        note,
        /* 出库看板号“DJLY” */
        KANBAN_CODE,
        /* 外委供应商 */
        WW_OWNER,
        /* 当前最大刀头号 */
        MAX_DJH,
        /* 当前RFID */
        RFID,
        /* 外委资材单号 */
        ZC_CODE
        /*DJ_ITRN_AKP end*/
        FROM DJ_ITRN_AKP
        WHERE
        1 = 1 AND rownum = 1
        /*DJ_ITRN_AKP begin*/
        /* 批次 */
        <if test="batchno != null and batchno != '' " >
            and BATCHNO = #{batchno}
        </if>
        /* 仓库 ‘FSDJ’ */
        <if test="whCode != null and whCode != '' " >
            and WH_CODE = #{whCode}
        </if>
        /* 供应商号 */
        <if test="ownerCode != null and ownerCode != '' " >
            and OWNER_CODE = #{ownerCode}
        </if>
        /* 物料号，加外围类型 */
        <if test="mtlCode != null and mtlCode != '' " >
            and MTL_CODE = #{mtlCode}
        </if>
        /* 规格型号 */
        <if test="ggxh != null and ggxh != '' " >
            and GGXH = #{ggxh}
        </if>
        /* 工位 */
        <if test="gongw != null and gongw != '' " >
            and GONGW = #{gongw}
        </if>
        /* 生产线 */
        <if test="shengcx != null and shengcx != '' " >
            and SHENGCX = #{shengcx}
        </if>
        /* 刀具号 */
        <if test="daojCase != null and daojCase != '' " >
            and DAOJ_CASE = #{daojCase}
        </if>
        /* 加工寿命 */
        <if test="jgsm != null and jgsm != '' " >
            and JGSM = #{jgsm}
        </if>
        /* 价格 */
        <if test="price != null and price != '' " >
            and PRICE = #{price}
        </if>
        /* 类型：N生成 U领用 R归还 S1车间刃磨 S2外委刃磨 S3直接外委 SR刃磨归还 SD刃磨报废 D报废 */
        <if test="type != null and type != '' " >
            and TYPE = #{type}
        </if>
        /* 外委单号 */
        <if test="wwcode != null and wwcode != '' " >
            and WWCODE = #{wwcode}
        </if>
        /* 实际加工寿命，加工次数 */
        <if test="jgcs != null and jgcs != '' " >
            and JGCS = #{jgcs}
        </if>
        /* 刀具轮回次数，值为 palabel_cms 中remark03(车间刃磨次数)+remark04(外委刃磨次数)+1 */
        <if test="lhcs != null and lhcs != '' " >
            and LHCS = #{lhcs}
        </if>
        /* 归还类型 1外委归还 2刃磨归还 3报废 */
        <if test="returnType != null and returnType != '' " >
            and RETURN_TYPE = #{returnType}
        </if>
        /* 创建时间 */
        <if test="createDate != null" >
            and CREATE_DATE = #{createDate}
        </if>
        /* 创建人 */
        <if test="createBy != null and createBy != '' " >
            and CREATE_BY = #{createBy}
        </if>
        /* 加工次数 */
        <if test="processTimes != null and processTimes != '' " >
            and PROCESS_TIMES = #{processTimes}
        </if>
        /* 刃磨次数 */
        <if test="sharpenTimes != null and sharpenTimes != '' " >
            and SHARPEN_TIMES = #{sharpenTimes}
        </if>
        /* 报废原因 */
        <if test="bfCause != null and bfCause != '' " >
            and BF_CAUSE = #{bfCause}
        </if>
        /* 报废状态（0.断刀1.丢刀2.到寿3.出库报废4.其他） */
        <if test="bfStatus != null and bfStatus != '' " >
            and BF_STATUS = #{bfStatus}
        </if>
        /* 刀签号 */
        <if test="casecode != null and casecode != '' " >
            and CASECODE = #{casecode}
        </if>
        /* 领料条码,'CK' */
        <if test="cKanbanCode != null and cKanbanCode != '' " >
            and C_KANBAN_CODE = #{cKanbanCode}
        </if>
        /* 备注长文本 */
        <if test="note != null and note != '' " >
            and note = #{note}
        </if>
        /* 出库看板号“DJLY” */
        <if test="kanbanCode != null and kanbanCode != '' " >
            and KANBAN_CODE = #{kanbanCode}
        </if>
        /* 外委供应商 */
        <if test="wwOwner != null and wwOwner != '' " >
            and WW_OWNER = #{wwOwner}
        </if>
        /* 当前最大刀头号 */
        <if test="maxDjh != null and maxDjh != '' " >
            and MAX_DJH = #{maxDjh}
        </if>
        /* 当前RFID */
        <if test="rfid != null and rfid != '' " >
            and RFID = #{rfid}
        </if>
        /* 外委资材单号 */
        <if test="zcCode != null and zcCode != '' " >
            and ZC_CODE = #{zcCode}
        </if>
        /*DJ_ITRN_AKP end*/
        ORDER BY CREATE_DATE DESC
    </select>

    <select id="getMaxBatchNo" resultType="java.lang.Integer">
        SELECT MAX(BATCHNO) FROM DJ_ITRN_AKP
    </select>

    <select id="getMaxWWOrderNum" resultType="java.lang.String">
        SELECT MAX(WWCODE) FROM DJ_ITRN_AKP
    </select>
</mapper>