<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.mapper.IDjStationAkpMapper">
    <resultMap id="djStationAkpQueryMap" type="com.common.pojo.DjStationAkp">
        <id property="stationCode" column="STATION_CODE"/>
        <!-- 工序代码 -->
        <!--<result property="stationCode" column="STATION_CODE"/>-->
        <!-- 工序名称 -->
        <result property="stationName" column="STATION_NAME"/>
        <!-- 生产线代码 -->
        <result property="lineCode" column="LINE_CODE"/>
    </resultMap>
    <!-- 添加 -->
    <insert id="addDjStationAkp" parameterType="com.common.pojo.DjStationAkp">
        INSERT INTO DJ_STATION_AKP (
        /* 工序代码 */
        STATION_CODE,
        /* 工序名称 */
        STATION_NAME,
        /* 生产线代码 */
        LINE_CODE
        )
        VALUES (
        /* 工序代码 */
        #{stationCode},
        /* 工序名称 */
        #{stationName},
        /* 生产线代码 */
        #{lineCode}
        )
    </insert>

    <!-- 删除 -->
    <delete id="delDjStationAkp" parameterType="com.common.pojo.DjStationAkp">
        DELETE
        FROM DJ_STATION_AKP
        WHERE
        1 = 1
    </delete>

    <!-- 逻辑删除 -->
    <delete id="delDjStationAkpForLogic" parameterType="com.common.pojo.DjStationAkp">
        DELETE FROM  DJ_STATION_AKP
        WHERE
        1 = 1
    </delete>

    <!-- 根据VO删除 -->
    <delete id="delDjStationAkpByVo" parameterType="com.common.vo.DjStationAkpVO">
        DELETE FROM DJ_STATION_AKP
        WHERE
        1=1
        /* 工序代码 */
        <if test="stationCode != null and stationCode != '' " >
            and STATION_CODE =  #{stationCode}
        </if>
        /* 工序名称 */
        <if test="stationName != null and stationName != '' " >
            and STATION_NAME =  #{stationName}
        </if>
        /* 生产线代码 */
        <if test="lineCode != null and lineCode != '' " >
            and LINE_CODE =  #{lineCode}
        </if>
    </delete>

    <!-- 更新,如果属性不为null 则更新该属性,根据id更新 -->
    <update id="updDjStationAkp" parameterType="com.common.pojo.DjStationAkp">
        UPDATE DJ_STATION_AKP
        SET
        /* 工序代码 */
        <if test="stationCode != null and stationCode != '' " >
            STATION_CODE =  #{stationCode},
        </if>
        /* 工序名称 */
        <if test="stationName != null and stationName != '' " >
            STATION_NAME =  #{stationName},
        </if>
        /* 生产线代码 */
        <if test="lineCode != null and lineCode != '' " >
            LINE_CODE =  #{lineCode},
        </if>
        WHERE
        1 = 1
    </update>

    <!-- 分页查询 -->
    <select id="getDjStationAkpByPage" parameterType="com.common.vo.DjStationAkpVO" resultMap="djStationAkpQueryMap">
        SELECT
        /*djStationAkp begin*/
        /* 工序代码 */
        STATION_CODE,
        /* 工序名称 */
        STATION_NAME,
        /* 生产线代码 */
        LINE_CODE
        /*djStationAkp end*/
        FROM DJ_STATION_AKP
        WHERE
        1 = 1
        /*DJ_STATION_AKP begin*/
        /* 工序代码 */
        <if test="stationCode != null and stationCode != '' " >
            and STATION_CODE = #{stationCode}
        </if>
        /* 工序名称 */
        <if test="stationName != null and stationName != '' " >
            and STATION_NAME = #{stationName}
        </if>
        /* 生产线代码 */
        <if test="lineCode != null and lineCode != '' " >
            and LINE_CODE = #{lineCode}
        </if>
        /*DJ_STATION_AKP end*/
        ORDER BY  desc
    </select>


    <!-- 查询记录数 -->
    <select id="getDjStationAkpCount" parameterType="com.common.vo.DjStationAkpVO" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM DJ_STATION_AKP
        WHERE
        1 = 1
        /*DJ_STATION_AKP begin*/
        /* 工序代码 */
        <if test="stationCode != null and stationCode != '' " >
            and STATION_CODE = #{stationCode}
        </if>
        /* 工序名称 */
        <if test="stationName != null and stationName != '' " >
            and STATION_NAME = #{stationName}
        </if>
        /* 生产线代码 */
        <if test="lineCode != null and lineCode != '' " >
            and LINE_CODE = #{lineCode}
        </if>
        /*DJ_STATION_AKP end*/
    </select>

    <!-- 根据vo查询 -->
    <select id="getDjStationAkp" parameterType="com.common.vo.DjStationAkpVO" resultMap="djStationAkpQueryMap">
        SELECT
        /*DJ_STATION_AKP begin*/
        /* 工序代码 */
        STATION_CODE,
        /* 工序名称 */
        STATION_NAME,
        /* 生产线代码 */
        LINE_CODE
        /*DJ_STATION_AKP end*/
        FROM DJ_STATION_AKP
        WHERE
        1 = 1
        /*DJ_STATION_AKP begin*/
        /* 工序代码 */
        <if test="stationCode != null and stationCode != '' " >
            and STATION_CODE = #{stationCode}
        </if>
        /* 工序名称 */
        <if test="stationName != null and stationName != '' " >
            and STATION_NAME = #{stationName}
        </if>
        /* 生产线代码 */
        <if test="lineCode != null and lineCode != '' " >
            and LINE_CODE = #{lineCode}
        </if>
        /*DJ_STATION_AKP end*/
    </select>
</mapper>